<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vascara | Thương hiệu thời trang balo túi xách, giày dép, bóp ví nữ</title>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet"> -->

    <link rel="shortcut icon" href="/img/favicon.ico">

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <script src="js/jquery.min.js"></script>
    <!-- inject:js -->
    <script src="js/desktop/3.0/addons.js"></script>

    <link rel="stylesheet" href="css/web/form.css">
    <link rel="stylesheet" href="css/web/addons.min.css">
    <link rel="stylesheet" href="css/web/main.min.css">
    <link rel="stylesheet" href="css/web/home.min.css">
    <link rel="stylesheet" href="css/web/custom.css">
    <link rel="stylesheet" href="css/web/owl.carousel.css">
    <link rel="stylesheet" href="css/web/owl.theme.defaul.min.css">

</head>

<body class="home" style="opacity: 1">

    <div class="fullpage">
        {{> web/header}}
        <div class="page-content">
            {{{body}}}
        </div>
        {{> web/footer}}
    </div>


    <script src="js/owl.carousel.min.js"></script>
    <script src="js/desktop/3.0/block.js"></script>
    <script src="js/script.js"></script>
    <script src="js/desktop/3.0/header.js"></script>
    <script src="js/desktop/3.0/main.js"></script>
    <script src="js/desktop/3.0/lazy.js"></script>
    <script src="js/desktop/generalrealtime.min.js"></script>
    <script src="js/desktop/3.0/banner.js" rel="stylesheet"></script>

    <a id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647;"></a>

    <script>
        $(document).ready(function () {
            $(".product-slide").owlCarousel({
                items: 1,
                pagination: true,
                responsiveClass: true,
                loop: true,
                margin: 10,
                nav: true,
                dot: true,
                lazyLoad: true,
                navText: ["<img src='img/icons/prev.png'>", "<img src='img/icons/next.png'>"],
                // autoplay: true,
                // autoplayTimeout: 4000,
                responsive: {
                    0: {
                        items: 2,
                        margin: 0,
                    },
                    576: {
                        items: 2,
                        margin: 10,
                    },
                    768: {
                        items: 3,
                        margin: 10,
                    },
                    1200: {
                        items: 4,

                    },
                },
            });
        });

    </script>
</body>

</html>