.breadcrumb {
    background: white;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 0;
  }
  
  .breadcrumb ul li {
    display: inline-block;
    padding: 0 15px 0 10px;
    position: relative;
  }
  
  .breadcrumb ul li:first-child {
    padding-left: 0;
  }
  
  .breadcrumb ul li:last-child:after {
    display: none;
  }
  
  .breadcrumb ul li:after {
    content: '';
    width: 5px;
    height: 1px;
    background-color: #000000;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(0, -50%);
    -khtml-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  
  .breadcrumb ul a {
    text-decoration: none;
    color: #000000;
  }
  
  .policy {
    padding-bottom: 15px;
  }
  
  @media (max-width: 1199px) {
    .policy #sidebarmenu {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2;
      margin-top: 15px;
    }
  }
  
  .policy #sidebarmenu .active-menu {
    background-color: #000000;
  }
  
  .policy #sidebarmenu .active-menu > a {
    color: #fff !important;
  }
  
  .policy #sidebarmenu .side-custom-menu {
    margin-bottom: 11px;
    border: 1px solid #ddd;
  }
  
  .policy #sidebarmenu .side-custom-menu h2 {
    border-bottom: 1px solid #ddd;
    padding: 13px 19px 13px;
    background-color: #f5f5f5;
    margin: 0;
    color: #000000;
    font-size: 1.25rem;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  @media (max-width: 1199px) {
    .policy #sidebarmenu .side-custom-menu h2 {
      font-size: 0.875rem;
    }
  }
  
  @media (min-width: 1200px) {
    .policy #sidebarmenu .side-custom-menu h2 {
      font-size: 0.875rem;
    }
  }
  
  @media (min-width: 1440px) {
    .policy #sidebarmenu .side-custom-menu h2 {
      font-size: 1rem;
    }
  }
  
  @media (min-width: 1820px) {
    .policy #sidebarmenu .side-custom-menu h2 {
      font-size: 1.25rem;
    }
  }
  
  .policy #sidebarmenu .side-custom-menu h2 i {
    padding-right: 4px;
  }
  
  .policy #sidebarmenu .side-custom-menu ul {
    padding: 0;
  }
  
  .policy #sidebarmenu .side-custom-menu ul li {
    text-align: left;
    padding: 13px 4px 12px;
    border-top: 1px solid #ddd;
  }
  
  .policy #sidebarmenu .side-custom-menu ul li:first-child {
    border: 0;
  }
  
  .policy #sidebarmenu .side-custom-menu ul li a {
    color: #777;
    display: block;
    padding: 0 15px;
    font-size: 1rem;
  }
  
  @media (max-width: 1199px) {
    .policy #sidebarmenu .side-custom-menu ul li a {
      font-size: 0.75rem;
    }
  }
  
  @media (min-width: 1200px) {
    .policy #sidebarmenu .side-custom-menu ul li a {
      font-size: 0.875rem;
    }
  }
  
  @media (min-width: 1440px) {
    .policy #sidebarmenu .side-custom-menu ul li a {
      font-size: 0.875rem;
    }
  }
  
  @media (min-width: 1820px) {
    .policy #sidebarmenu .side-custom-menu ul li a {
      font-size: 1rem;
    }
  }
  
  .policy #sidebarmenu .side-custom-menu ul li:hover {
    background-color: #000000;
  }
  
  .policy #sidebarmenu .side-custom-menu ul li:hover a {
    color: #fff;
  }
  
  .policy #sidebarmenu .side-custom-menu .have-sub:hover .sub-menu {
    opacity: 1;
    right: -100%;
    z-index: 10;
  }
  
  @media (max-width: 991px) {
    .policy #sidebarmenu .side-custom-menu .have-sub:hover .sub-menu {
      top: 100%;
      right: 0;
    }
  }
  
  .policy #sidebarmenu .side-custom-menu * {
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  
  .policy #sidebarmenu .side-custom-menu .menu li {
    position: relative;
  }
  
  .policy #sidebarmenu .side-custom-menu .menu li i {
    position: absolute;
    right: 0;
    line-height: 20px;
    padding-right: 10px;
    font-size: 1.25rem;
  }
  
  .policy #sidebarmenu .side-custom-menu .menu li .sub-menu {
    position: absolute;
    top: 0;
    right: -80%;
    opacity: 0;
    z-index: 0;
    background-color: #fff;
    width: 100%;
  }
  
  .policy #sidebarmenu .side-custom-menu .menu li .sub-menu li a {
    color: #777;
  }
  
  .policy #sidebarmenu .side-custom-menu .menu li .sub-menu li:hover {
    background-color: #0083c1;
  }
  
  .policy #sidebarmenu .side-custom-menu .menu li .sub-menu li:hover a {
    color: #fff;
  }
  
  @media (max-width: 1199px) {
    .policy .content-page {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1;
    }
  }
  
  .policy .content-page .title-content {
    font-size: 1.625rem;
    border-bottom: 2px solid #b3b3b3;
    padding: 8px 0;
    margin-bottom: 10px;
  }
  
  
  