/* .product-item {
  margin: 15px 0;
  position: relative;
  padding: 1px;
  font-size: 1.6875rem;
  line-height: 1;
}

@media (max-width: 1440px) {
  .product-item {
    font-size: 1rem;
  }
}

.product-item:hover .product-image {
  box-shadow: 0 0 10px #f15b67;
}

@media (min-width: 1200px) {
  .product-item:hover .product-image .avatar.after {
    display: block !important;
  }
  .product-item:hover .product-image .avatar.before {
    display: none !important;
  }
}

.product-item .product-image {
  padding: 1px;
}

.product-item .product-image a {
  display: block;
  position: relative;
}

.product-item .product-image a .avatar {
  width: 100%;
}

.product-item .product-image a .avatar.after {
  display: none;
}

.product-item .product-image a .tem-inside img {
  display: block;
}

.product-item .product-image a .tem-inside .top-left, .product-item .product-image a .tem-inside .bottom-right {
  max-width: 50%;
}

@media (max-width: 1440px) {
  .product-item .product-image a .tem-inside .top-left, .product-item .product-image a .tem-inside .bottom-right {
    max-width: 60%;
  }
}

.product-item .product-image a .tem-inside .top-left {
  position: absolute;
  top: 10px;
  left: 10px;
}

.product-item .product-image a .tem-inside .bottom-right {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.product-item .price {
  margin: 18px 0 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1440px) {
  .product-item .price {
    margin: 15px 0 5px;
  }
}

@media (max-width: 1199px) {
  .product-item .price {
    margin: 10px 0 5px;
  }
}

.product-item .price .currency {
  padding-left: 2px;
}

.product-item .price ins {
  text-decoration: none;
  color: #000000;
  margin-right: 25px;
}

@media (max-width: 767px) {
  .product-item .price ins {
    margin-right: 10px;
  }
}

.product-item .price del {
  text-decoration: none;
}

.product-item .price del .amount {
  text-decoration: line-through;
}

.product-item .price.sale ins {
  display: block;
  color: #f15b67;
}

.product-item .product-title {
  margin-bottom: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: GARAMONDPREMRPRO-IT;
  font-style: italic;
}

@media (max-width: 1440px) {
  .product-item .product-title {
    margin-bottom: 12px;
  }
}

@media (max-width: 767px) {
  .product-item .product-title {
    font-size: 0.875rem;
  }
}

.product-item .product-title a {
  text-decoration: none;
  color: #000000;
  line-height: 1;
}

.product-item .product-tem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.product-item .product-tem .percent-discount {
  background-color: #f15b67;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 9px 24px;
  margin-right: 18px;
  height: 32px;
  font-size: 1rem;
  border-radius: 50px;
}

@media (max-width: 1440px) {
  .product-item .product-tem .percent-discount {
    height: 20px;
    font-size: 0.75rem;
  }
}

@media (max-width: 1199px) {
  .product-item .product-tem .percent-discount {
    font-size: 0.6875rem;
  }
}

@media (max-width: 767px) {
  .product-item .product-tem .percent-discount {
    font-size: 0.5625rem;
    margin-right: 10px;
    line-height: 1;
    padding: 0 10px;
    height: 21px;
  }
}

@media (max-width: 543px) {
  .product-item .product-tem .percent-discount {
    padding: 0 10px;
    height: 18px;
  }
}

.product-item .product-tem .tem-image {
  height: 27px;
}

.product-item .product-tem .tem-image img {
  width: auto;
  height: 100%;
  display: block;
}

@media (max-width: 1440px) {
  .product-item .product-tem .tem-image {
    height: 21px;
  }
}

@media (max-width: 543px) {
  .product-item .product-tem .tem-image {
    height: 18px;
  }
} */

.breadcrumb {
    background: white;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 0;
  }
  
  .breadcrumb ul li {
    display: inline-block;
    padding: 0 10px 0 0px;
    position: relative;
    font-family: GARAMONDPREMRPRO;
    font-style: italic;
  }
  
  .breadcrumb ul li:first-child {
    padding-left: 0;
  }
  
  .breadcrumb ul li:last-child:after {
    display: none;
  }
  
  .breadcrumb ul li:last-child a {
    color: #000000;
  }
  
  .breadcrumb ul li:after {
    content: '';
    width: 5px;
    height: 1px;
    background-color: #d1d1d1;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(0, -50%);
    -khtml-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  
  .breadcrumb ul li a {
    text-decoration: none;
    color: #d1d1d1;
  }
  
  /* .custom-row {
    display: table !important;
  } */

  
  @media (max-width: 1199px) {
    .custom-row {
      display: -webkit-box !important;
      display: -webkit-flex !important;
      display: -ms-flexbox !important;
      display: flex !important;
    }
  }
  
  .fix-product {
    position: -webkit-sticky;
    position: sticky;
    top: 65px;
  }
  
  @media (max-width: 1199px) {
    .fix-product {
      position: relative;
      top: 0;
    }
  }
  
  @media (max-width: 1199px) {
    .detail-product {
      margin-bottom: 30px;
    }
  }
  
  .detail-product .group-images {
    margin-left: -15px;
    position: relative;
  }
  
  @media (max-width: 1199px) {
    .detail-product .group-images {
      margin-left: 0;
    }
  }
  
  .detail-product .group-images .tem-inimage {
    position: absolute;
    top: 15px;
    left: 30px;
    z-index: 2;
  }
  
  @media (max-width: 1199px) {
    .detail-product .group-images .tem-inimage {
      left: 15px;
    }
    .detail-product .group-images .tem-inimage img {
      max-width: 200px;
    }
  }
  
  @media (max-width: 991px) {
    .detail-product .group-images .tem-inimage img {
      max-width: 150px;
    }
  }
  
  @media (max-width: 767px) {
    .detail-product .group-images .tem-inimage img {
      max-width: 180px;
    }
  }
  
  .detail-product .group-images .list-images-product {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .detail-product .group-images .list-images-product .item {
    outline: 0;
  }
  
  @media (min-width: 1200px) {
    .detail-product .group-images .list-images-product .item {
      width: 50%;
      padding: 15px;
      float: left;
    }
    .detail-product .group-images .list-images-product .item:nth-child(1) {
      padding-top: 0;
    }
    .detail-product .group-images .list-images-product .item:nth-child(7n + 1) {
      width: 100%;
    }
  }
  
  /* .detail-product .group-images .list-images-product .item > img {
    width: 100%;
  } */

  .detail-product .group-images .list-images-product .item > img {
    width: 80%;
  }
  
  .detail-product .group-images .list-images-product .owl-nav {
    display: none;
  }
  
  .detail-product .group-images .list-images-product .owl-nav .owl-prev, .detail-product .group-images .list-images-product .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -khtml-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  
  @media (max-width: 1199px) {
    .detail-product .group-images .list-images-product .owl-nav .owl-prev img, .detail-product .group-images .list-images-product .owl-nav .owl-next img {
      width: 15px;
    }
  }
  
  @media (max-width: 991px) {
    .detail-product .group-images .list-images-product .owl-nav .owl-prev img, .detail-product .group-images .list-images-product .owl-nav .owl-next img {
      width: 20px;
    }
  }
  
  @media (max-width: 1199px) {
    .detail-product .group-images .list-images-product .owl-nav .owl-prev {
      left: 10px;
    }
  }
  
  @media (max-width: 1199px) {
    .detail-product .group-images .list-images-product .owl-nav .owl-next {
      right: 10px;
    }
  }
  
  .detail-product .group-images .list-images-product .owl-dots {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin-top: -30px;
    z-index: 200;
  }
  
  .detail-product .group-images .list-images-product .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    border: 1px solid white;
    border-radius: 10px;
    float: left;
    margin: 0px 5px;
  }
  
  .detail-product .group-images .list-images-product .owl-dots .owl-dot.active {
    background-color: white;
  }
  
  .detail-product .content-product {
    margin-left: -15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  @media (max-width: 991px) {
    .detail-product .content-product.pc {
      display: none !important;
    }
  }
  
  .detail-product .content-product.mobi {
    display: none !important;
  }
  
  @media (max-width: 991px) {
    .detail-product .content-product.mobi {
      display: block !important;
    }
  }
  
  @media (max-width: 1199px) {
    .detail-product .content-product {
      margin-left: 0;
      margin-top: 30px;
      padding-left: 0;
      padding-right: 0;
    }
  }
  
  .detail-product .content-product .group-content-product {
    border: 1px solid;
    border-radius: 32px;
  }
  
  .detail-product .content-product .head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  .detail-product .content-product .head li {
    width: 50%;
    padding: 8px 10px;
    border-bottom: 1px solid;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .detail-product .content-product .head li.active, .detail-product .content-product .head li:hover {
    background-color: #f15b67;
  }
  
  .detail-product .content-product .head li:first-child {
    border-right: 1px solid #f15b67;
    border-top-left-radius: 30px;
  }
  
  .detail-product .content-product .head li:last-child {
    border-top-right-radius: 30px;
  }
  
  .detail-product .content-product .body {
    padding: 15px 20px;
  }
  
  .detail-product .content-product .body .body-ct .list-oppr li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 0;
  }
  
  @media (max-width: 991px) {
    .detail-product .content-product .body .body-ct .list-oppr li {
      padding: 5px 0;
    }
  }
  
  .detail-product .content-product .body .body-ct .list-oppr li:last-child {
    border-bottom: 0;
  }
  
  .detail-product .content-product .body .body-ct .list-oppr li span {
    width: 50%;
    float: left;
  }
  
  @media (max-width: 1199px) {
    .detail-product .product-info {
      margin-top: 20px;
    }
  }
  
  .detail-product .product-info .title-product {
    font-size: 36px;
    line-height: initial;
    text-transform: uppercase;
    border-bottom: 1px solid #000000;
    padding-bottom: 20px;
    margin-bottom: 25px;
  }
  
  @media (max-width: 1440px) {
    .detail-product .product-info .title-product {
      font-size: 1.4375rem;
    }
  }
  
  @media (max-width: 1199px) {
    .detail-product .product-info .title-product {
      font-size: 1.375rem;
    }
  }
  
  @media (max-width: 991px) {
    .detail-product .product-info .title-product {
      font-size: 1.125rem;
    }
  }
  
  .detail-product .product-info .product-tem {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 15px 0;
  }
  
  .detail-product .product-info .product-tem .percent-discount {
    background-color: #f15b67;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 9px 20px;
    margin-right: 18px;
    height: 35px;
    font-size: 1.125rem;
    border-radius: 50px;
  }
  
  @media (max-width: 1440px) {
    .detail-product .product-info .product-tem .percent-discount {
      height: 28px;
      font-size: 1rem;
    }
  }
  
  @media (max-width: 1199px) {
    .detail-product .product-info .product-tem .percent-discount {
      font-size: 0.875rem;
    }
  }
  
  .detail-product .product-info .product-tem .tem-image {
    height: 35px;
  }
  
  .detail-product .product-info .product-tem .tem-image img {
    width: auto;
    height: 100%;
    display: block;
  }
  
  @media (max-width: 1440px) {
    .detail-product .product-info .product-tem .tem-image {
      height: 28px;
    }
  }
  
  .detail-product .product-info .price {
    margin: 20px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 38px;
    font-family: TTCOMMONS-REGULAR;
    line-height: 1;
  }
  
  @media (max-width: 1440px) {
    .detail-product .product-info .price {
      margin: 15px 0 10px;
      font-size: 1.75rem;
    }
  }
  
  @media (max-width: 991px) {
    .detail-product .product-info .price {
      font-size: 0.875rem;
    }
  }
  
  .detail-product .product-info .price .currency {
    padding-left: 2px;
  }
  
  .detail-product .product-info .price .currency, .detail-product .product-info .price .amount {
    font-weight: bold;
  }
  
  .detail-product .product-info .price ins {
    text-decoration: none;
    color: #000000;
    margin-right: 25px;
  }
  
  @media (max-width: 767px) {
    .detail-product .product-info .price ins {
      margin-right: 15px;
    }
  }
  
  .detail-product .product-info .price del {
    text-decoration: none;
  }
  
  .detail-product .product-info .price del .amount {
    text-decoration: line-through;
  }
  
  .detail-product .product-info .price.sale ins {
    display: block;
    color: #f15b67;
  }
  
  .detail-product .product-info .note-online {
    color: red;
    font-weight: bold;
  }
  
  .detail-product .product-info .group-attr {
    margin-top: 20px;
  }
  
  .detail-product .product-info .group-attr.cus-margin {
    margin: 10px 0 0;
  }
  
  .detail-product .product-info .group-attr.cus-margin .title-attr {
    margin-bottom: 0;
  }
  
  .detail-product .product-info .group-attr .title-attr {
    color: #000000;
    font-size: 23px;
    margin-bottom: 8px;
  }
  
  @media (max-width: 1440px) {
    .detail-product .product-info .group-attr .title-attr {
      font-size: 0.9375rem;
    }
  }
  
  @media (max-width: 1199px) {
    .detail-product .product-info .group-attr .title-attr {
      font-size: 0.875rem;
    }
  }
  
  .detail-product .product-info .group-attr .title-attr .change {
    color: #aaaaaa;
    padding-left: 5px;
    margin-left: 5px;
    border-left: 1px solid;
    line-height: 1;
  }
  
  .detail-product .product-info .group-attr .title-attr .error {
    color: red;
    margin-left: 10px;
    font-weight: bold;
    font-size: 0.75rem;
  }
  
  .detail-product .product-info .group-attr .list-attr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .detail-product .product-info .group-attr .list-attr li {
    margin-right: 8px;
    cursor: pointer;
  }
  
  .detail-product .product-info .group-attr .list-attr li.out-stock {
    cursor: default;
  }
  
  .detail-product .product-info .group-attr.color.cus-color li {
    width: 40px;
    height: 40px;
  }
  
  .detail-product .product-info .group-attr.color.cus-color li.out-stock:before {
    top: 18px;
    left: -8px;
    width: 55px;
  }
  
  .detail-product .product-info .group-attr.color li {
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }
  
  .detail-product .product-info .group-attr.color li:hover, .detail-product .product-info .group-attr.color li.active {
    border: 1px solid;
    position: relative;
    z-index: 2;
  }
  
  .detail-product .product-info .group-attr.color li:hover:after, .detail-product .product-info .group-attr.color li.active:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 4px solid white;
    border-radius: 25px;
  }
  
  .detail-product .product-info .group-attr.color li.out-stock {
    position: relative;
    z-index: 2;
    opacity: 0.5;
    border: 0;
  }
  
  .detail-product .product-info .group-attr.color li.out-stock:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border: 0;
  }
  
  .detail-product .product-info .group-attr.color li img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
  }
  
  .detail-product .product-info .group-attr.other-product .group-other-product {
    overflow: auto;
    width: 100%;
  }
  
  .detail-product .product-info .group-attr.other-product .group-other-product ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .detail-product .product-info .group-attr.other-product .group-other-product li {
    float: left;
    width: calc(100% / 3);
    padding: 7.5px 7.5px 7.5px 0;
  }
  
  .detail-product .product-info .group-attr.other-product .group-other-product li a {
    width: 100%;
    height: auto;
  }
  
  .detail-product .product-info .group-attr.other-product.cus-otherproduct ul {
    margin-right: -7.5px;
    margin-left: -7.5px;
  }
  
  .detail-product .product-info .group-attr.other-product.cus-otherproduct li {
    float: left;
    width: calc(100% /3);
    margin-right: 0;
    padding: 7.5px;
  }
  
  .detail-product .product-info .group-attr.other-product.cus-otherproduct li a {
    width: 100%;
    height: auto;
  }
  
  .detail-product .product-info .group-attr.other-product li a {
    display: block;
    width: 80px;
    height: 80px;
    border: 1px solid white;
  }
  
  .detail-product .product-info .group-attr.other-product li a:hover {
    border: 1px solid #f15b67;
    position: relative;
    z-index: 2;
  }
  
  .detail-product .product-info .group-attr.other-product li a:hover:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 4px solid white;
  }
  
  .detail-product .product-info .group-attr.other-product li a img {
    width: 100%;
    height: 100%;
  }
  
  .detail-product .product-info .group-attr.size.cus-size li {
    width: 40px;
    height: 40px;
  }
  
  .detail-product .product-info .group-attr.size.cus-size li.out-stock:before {
    top: 18px;
    left: -8px;
    width: 55px;
  }
  
  .detail-product .product-info .group-attr.size li {
    width: 50px;
    height: 50px;
    border: 1px solid #d9d9d9;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 25px;
  }
  
  .detail-product .product-info .group-attr.size li.active {
    background-color: #f15b67;
    color: white;
    border: 0;
  }
  
  .detail-product .product-info .group-attr.size li:hover {
    color: white;
    border: 0;
  }
  
  .detail-product .product-info .group-attr.size li.out-stock {
    position: relative;
    border: 0;
    background-color: #f6f6f6;
    color: #c2c2c2;
  }
  
  .detail-product .product-info .group-attr.quantity.cus-quantity .book-number {
    width: 120px;
  }
  
  .detail-product .product-info .group-attr.quantity.cus-quantity .book-number .item-change {
    width: 30px;
    height: 38px;
  }
  
  .detail-product .product-info .group-attr.quantity.cus-quantity .book-number .input-number {
    width: calc(100% - 60px);
  }
  
  .detail-product .product-info .group-attr.quantity .book-number {
    width: 200px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
  }
  
  .detail-product .product-info .group-attr.quantity .book-number .minus {
    border-right: 1px solid #d9d9d9;
  }
  
  .detail-product .product-info .group-attr.quantity .book-number .plus {
    border-left: 1px solid #d9d9d9;
  }
  
  .detail-product .product-info .group-attr.quantity .book-number .item-change {
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1;
  }
  
  .detail-product .product-info .group-attr.quantity .book-number .input-number {
    width: calc(100% - 100px);
  }
  
  .detail-product .product-info .group-attr.quantity .book-number .input-number input {
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
  }
  
  .detail-product .product-info .buy-now, .detail-product .product-info .btn-coming {
    background: #f15b67;
    margin-top: 15px;
    padding: 15px 0;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 50px;
    font-size: 23px;
  }
  
  @media (max-width: 1440px) {
    .detail-product .product-info .buy-now, .detail-product .product-info .btn-coming {
      font-size: 1rem;
    }
  }
  
  .detail-product .product-info .buy-now:hover, .detail-product .product-info .btn-coming:hover {
    opacity: 0.8;
  }
  
  .detail-product .product-info .check-store {
    background: white;
    color: #000000;
    margin-top: 15px;
    padding: 15px 0;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid;
    border-radius: 50px;
    font-size: 23px;
  }
  
  @media (max-width: 1440px) {
    .detail-product .product-info .check-store {
      font-size: 1rem;
    }
  }
  
  .detail-product .product-info .check-store.in-stock {
    cursor: pointer;
  }
  
  .detail-product .product-info .check-store.in-stock:hover {
    color: #f15b67;
    background: white;
  }
  
  .detail-product .product-info .check-store.out-stock {
    background: #ececec !important;
    border-color: #ececec !important;
  }
  
  .detail-product .product-info .promotion-content {
    padding-top: 10px;
  }
  
  .detail-product .product-info .promotion-content .item-promotion {
    margin-top: 20px;
    position: relative;
    padding-left: 44px;
  }
  
  .detail-product .product-info .promotion-content .item-promotion span {
    color: red;
    /* font-weight: 700; */
  }
  
  .detail-product .product-info .promotion-content .item-promotion a {
    text-decoration: none;
    color: #000000;
  }
  
  .detail-product .product-info .promotion-content .item-promotion a:hover {
    color: red;
  }
  
  .detail-product .product-info .promotion-content .item-promotion:before {
    content: '';
    width: 30px;
    height: 33px;
    margin-right: 10px;
    background-repeat: no-repeat;
    position: absolute;
    top: -5px;
    left: 0;
    background-size: 100%;
  }
  
  .detail-product .product-info .promotion-content .item-promotion.fhotcall:before {
    background-image: url(../../../../../img3_0/icon/call-h.png);
    background-position: 0px 0px;
  }
  
  .detail-product .product-info .promotion-content .item-promotion.fdelivery:before {
    background-image: url(../../../../../img3_0/icon/delivery-h.png);
    background-position: 0px 0px;
  }
  
  .detail-product .product-info .promotion-content .item-promotion.fpayment:before {
    background-image: url(../../../../../img3_0/icon/payment-h.png);
    background-position: 0px 0px;
  }
  
  .detail-product .product-info .promotion-content .item-promotion.fguarantee:before {
    background-image: url(../../../../../img3_0/icon/guarantee-h.png);
    background-position: 0px 0px;
  }
  
  .detail-product .product-info .promotion-content .item-promotion.ffreereturning:before {
    background-image: url(../../../../../img3_0/icon/return-h.png);
    background-position: 0px 0px;
  }
  
  .detail-product .product-info .promotion-content .item-promotion.fgift:before {
    background-image: url(../../../../../img3_0/icon/gift-h.png);
    background-position: 0px 0px;
  }
  
  .detail-product .product-info .promotion-content .item-promotion.freturns:before {
    background-image: url(../../../../../img3_0/icon/returns.png);
    background-position: 0px 0px;
  }
  
  .detail-product .popup-add {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 300;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  @media (max-width: 1199px) {
    .detail-product .popup-add {
      font-size: 0.875rem;
    }
  }
  
  .detail-product .popup-add .close {
    opacity: 1;
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translate(0, -50%);
    -khtml-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 12px;
    height: 12px;
    background-image: url(../../../../../img3_0/icon/close.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }
  
  .detail-product .popup-add .content-popup {
    background: white;
    width: 80%;
    height: 80%;
    border-radius: 30px;
  }
  
  @media (max-width: 1199px) {
    .detail-product .popup-add .content-popup {
      width: calc(100% - 30px);
      height: calc(100% - 30px);
      border-radius: 25px;
    }
  }
  
  @media (max-width: 767px) {
    .detail-product .popup-add .content-popup {
      width: 100%;
      height: 100%;
    }
  }
  
  .detail-product .popup-add .content-popup .ct-popup {
    height: calc(100% - 48px);
    overflow: auto;
  }
  
  .detail-product .popup-add .content-popup .title-popup {
    background: #f15b67;
    padding: 12px 15px;
    font-size: 1rem;
    text-transform: uppercase;
    position: relative;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  
  @media (max-width: 1199px) {
    .detail-product .popup-add .content-popup .title-popup {
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
    }
  }
  
  .detail-product .popup-add .content-popup .title-popup span {
    font-size: 0.875rem;
    text-transform: none;
  }
  
  .detail-product .popup-add .content-popup .table-product {
    padding: 15px;
  }
  
  .detail-product .popup-add .content-popup .table-product .bartable {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  @media (max-width: 1199px) {
    .detail-product .popup-add .content-popup .table-product .bartable {
      display: none;
    }
  }
  
  .detail-product .popup-add .content-popup .table-product .bartable li {
    width: 30%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .detail-product .popup-add .content-popup .table-product .bartable li:first-child {
    width: 40%;
    border-right: 0;
  }
  
  .detail-product .popup-add .content-popup .table-product .bartable li:last-child {
    border-left: 0;
  }
  
  @media (max-width: 1199px) {
    .detail-product .popup-add .content-popup .table-product .list-cart {
      border-top: 1px solid #ccc;
    }
  }
  
  .detail-product .popup-add .content-popup .table-product .list-cart .cart-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .detail-product .popup-add .content-popup .table-product .list-cart .cart-item .col1, .detail-product .popup-add .content-popup .table-product .list-cart .cart-item .col2, .detail-product .popup-add .content-popup .table-product .list-cart .cart-item .col3, .detail-product .popup-add .content-popup .table-product .list-cart .cart-item .col-del {
    float: left;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .detail-product .popup-add .content-popup .table-product .list-cart .cart-item label {
    margin: 0 5px;
  }
  
  .detail-product .popup-add .content-popup .table-product .list-cart .cart-item .col1 {
    width: 40%;
    border-right: 1px solid transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px;
  }
  
  @media (max-width: 1199px) {
    .detail-product .popup-add .content-popup .table-product .list-cart .cart-item .col1 {
      width: 60%;
    }
  }
  
  @media (max-width: 767px) {
    .detail-product .popup-add .content-popup .table-product .list-cart .cart-item .col1 {
      width: 100%;
      border-right: 1px solid #ccc;
    }
  }
  
  .detail-product .popup-add .content-popup .table-product .list-cart .cart-item .col1 .avatar {
    width: 70px;
  }
  
  .detail-product .popup-add .content-popup .table-product .list-cart .cart-item .col1 .info-item {
    width: calc(100% - 70px);
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .detail-product .popup-add .content-popup .table-product .list-cart .cart-item .col2 {
    width: 30%;
    padding: 8px 15px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  
  @media (max-width: 1199px) {
    .detail-product .popup-add .content-popup .table-product .list-cart .cart-item .col2 {
      width: 40%;
    }
  }
  
  @media (max-width: 767px) {
    .detail-product .popup-add .content-popup .table-product .list-cart .cart-item .col2 {
      width: 100%;
      border-bottom: 1px solid transparent;
    }
  }
  
  .detail-product .popup-add .content-popup .table-product .list-cart .cart-item .col3 {
    width: 20%;
    border-left: 1px solid transparent;
    padding: 15px;
  }
  
  @media (max-width: 1199px) {
    .detail-product .popup-add .content-popup .table-product .list-cart .cart-item .col3 {
      width: 80%;
      border-left: 1px solid #ccc;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
  }
  
  @media (max-width: 767px) {
    .detail-product .popup-add .content-popup .table-product .list-cart .cart-item .col3 {
      width: 100%;
      border-bottom: 1px solid transparent;
    }
  }
  
  .detail-product .popup-add .content-popup .table-product .list-cart .cart-item .col3 label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  
  @media (max-width: 1199px) {
    .detail-product .popup-add .content-popup .table-product .list-cart .cart-item .col3 label {
      width: 50%;
      padding: 0;
    }
  }
  
  .detail-product .popup-add .content-popup .table-product .list-cart .cart-item .col3 label .padd {
    width: 70px;
    float: left;
  }
  
  .detail-product .popup-add .content-popup .table-product .list-cart .cart-item .col3 label .quantity {
    width: calc(100% - 70px);
    padding: 8px 10px;
    float: left;
  }
  
  .detail-product .popup-add .content-popup .table-product .list-cart .cart-item .col-del {
    width: 10%;
    border-left: 1px solid transparent;
  }
  
  @media (max-width: 1199px) {
    .detail-product .popup-add .content-popup .table-product .list-cart .cart-item .col-del {
      width: 20%;
    }
  }
  
  @media (max-width: 767px) {
    .detail-product .popup-add .content-popup .table-product .list-cart .cart-item .col-del {
      width: 100%;
      border-left: 1px solid #ccc;
      border-top: 1px solid transparent;
      padding-bottom: 15px;
    }
  }
  
  .detail-product .popup-add .content-popup .table-product .list-cart .cart-item .col-del a {
    text-decoration: none;
    color: #000000;
  }
  
  .detail-product .popup-add .content-popup .table-product .list-cart .cart-item .col-del a:hover {
    text-decoration: underline;
  }
  
  .detail-product .popup-add .content-popup .table-product .list-cart .cart-item .title-item {
    font-weight: bold;
    line-height: 1.2;
  }
  
  .detail-product .popup-add .content-popup .table-product .list-cart .cart-item .price {
    margin: 10px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  @media (max-width: 767px) {
    .detail-product .popup-add .content-popup .table-product .list-cart .cart-item .price {
      font-size: 0.75rem;
    }
  }
  
  .detail-product .popup-add .content-popup .table-product .list-cart .cart-item .price ins {
    text-decoration: none;
    color: #000000;
    margin-right: 25px;
  }
  
  @media (max-width: 767px) {
    .detail-product .popup-add .content-popup .table-product .list-cart .cart-item .price ins {
      margin-right: 10px;
    }
  }
  
  .detail-product .popup-add .content-popup .table-product .list-cart .cart-item .price del {
    text-decoration: none;
  }
  
  .detail-product .popup-add .content-popup .table-product .list-cart .cart-item .price del .amount {
    text-decoration: line-through;
  }
  
  .detail-product .popup-add .content-popup .table-product .list-cart .cart-item .price.sale ins {
    display: block;
    color: #f15b67;
  }
  
  .detail-product .popup-add .content-popup .table-product .list-cart .cart-item .changeattr {
    width: 100%;
    margin: 8px 0;
    padding: 8px 10px;
  }
  
  .detail-product .popup-add .content-popup .final-cart {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 15px;
  }
  
  .detail-product .popup-add .content-popup .final-cart .left, .detail-product .popup-add .content-popup .final-cart .right {
    width: 50%;
    float: left;
  }
  
  .detail-product .popup-add .content-popup .final-cart .left {
    padding-right: 50px;
  }
  
  .detail-product .popup-add .content-popup .final-cart .left .cus-note {
    color: #f15b67;
    font-weight: bold;
  }
  
  .detail-product .popup-add .content-popup .final-cart .left .cus-note span {
    color: #000000;
  }
  
  .detail-product .popup-add .content-popup .final-cart .right .total-price span {
    font-weight: bold;
    margin-left: 10px;
  }
  
  .detail-product .popup-add .content-popup .final-cart .right .note-cart {
    color: #818a91;
    font-style: italic;
    font-size: 0.75rem;
    margin-top: 5px;
  }
  
  .detail-product .popup-add .content-popup .action-cart {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px;
    border-top: 1px solid #000000;
  }
  
  .detail-product .popup-add .content-popup .action-cart a {
    text-decoration: none;
    color: #000000;
  }
  
  .detail-product .popup-add .content-popup .action-cart .next-discover {
    margin-right: 15px;
    font-weight: bold;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .detail-product .popup-add .content-popup .action-cart .next-discover i {
    font-size: 1.25rem;
    margin-left: 5px;
  }
  
  .detail-product .popup-add .content-popup .action-cart .next-checkout {
    padding: 8px 15px;
    background: #000000;
    color: white;
    text-align: center;
  }
  
  .detail-product .popup-add .content-popup .action-cart .next-checkout span {
    display: block;
  }
  
  .detail-product .popup-check {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 300;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  @media (max-width: 1199px) {
    .detail-product .popup-check {
      font-size: 0.875rem;
    }
  }
  
  .detail-product .popup-check .close {
    opacity: 1;
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translate(0, -50%);
    -khtml-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 12px;
    height: 12px;
    background-image: url(../../../../../img3_0/icon/close.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }
  
  .detail-product .popup-check .content-popup {
    background: white;
    width: 80%;
    height: 80%;
    border-radius: 30px;
  }
  
  @media (max-height: 700px) {
    .detail-product .popup-check .content-popup {
      height: calc(100% - 30px);
    }
  }
  
  @media (max-width: 1199px) {
    .detail-product .popup-check .content-popup {
      width: calc(100% - 30px);
      height: calc(100% - 30px);
    }
  }
  
  @media (max-width: 767px) {
    .detail-product .popup-check .content-popup {
      width: 100%;
      height: 100%;
    }
  }
  
  .detail-product .popup-check .content-popup .ct-popup {
    height: calc(100% - 48px);
    overflow: auto;
  }
  
  .detail-product .popup-check .content-popup .title-popup {
    background: #f15b67;
    padding: 12px 15px;
    font-size: 1rem;
    text-transform: uppercase;
    position: relative;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  
  .detail-product .popup-check .content-popup .table-product {
    padding: 0 15px;
  }
  
  .detail-product .popup-check .content-popup .table-product .group-table {
    border-top: 1px solid #ccc;
    padding: 15px 0;
  }
  
  .detail-product .popup-check .content-popup .table-product .group-table:first-child {
    border-top: 1px solid transparent;
  }
  
  .detail-product .popup-check .content-popup .table-product .item-product {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .detail-product .popup-check .content-popup .table-product .item-product .avatar {
    width: 100px;
    float: left;
  }
  
  .detail-product .popup-check .content-popup .table-product .item-product .info {
    width: calc(100% - 100px);
    float: left;
    padding: 0 15px;
  }
  
  .detail-product .popup-check .content-popup .table-product .item-product .info .title {
    font-weight: 600;
  }
  
  .detail-product .popup-check .content-popup .table-product .item-product .info .price {
    margin: 10px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  @media (max-width: 767px) {
    .detail-product .popup-check .content-popup .table-product .item-product .info .price {
      font-size: 0.75rem;
    }
  }
  
  .detail-product .popup-check .content-popup .table-product .item-product .info .price ins {
    text-decoration: none;
    color: #000000;
    margin-right: 25px;
  }
  
  @media (max-width: 767px) {
    .detail-product .popup-check .content-popup .table-product .item-product .info .price ins {
      margin-right: 10px;
    }
  }
  
  .detail-product .popup-check .content-popup .table-product .item-product .info .price del {
    text-decoration: none;
  }
  
  .detail-product .popup-check .content-popup .table-product .item-product .info .price del .amount {
    text-decoration: line-through;
  }
  
  .detail-product .popup-check .content-popup .table-product .item-product .info .price.sale ins {
    display: block;
    color: #f15b67;
  }
  
  .detail-product .popup-check .content-popup .table-product .item-product .list-attr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
  }
  
  .detail-product .popup-check .content-popup .table-product .item-product .list-attr .item-attr {
    margin-right: 25px;
  }
  
  .detail-product .popup-check .content-popup .table-product .item-product .list-attr .item-attr label {
    padding-right: 5px;
  }
  
  .detail-product .popup-check .content-popup .table-product .item-product .list-attr .item-attr select {
    width: 150px;
    padding: 5px;
  }
  
  .detail-product .popup-check .content-popup .table-product .change-region .title {
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .detail-product .popup-check .content-popup .table-product .change-region .group-region {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  .detail-product .popup-check .content-popup .table-product .change-region .group-region select {
    margin: 15px;
    padding: 5px;
    width: calc(50% - 30px);
  }
  
  @media (max-width: 767px) {
    .detail-product .popup-check .content-popup .table-product .change-region .group-region select {
      width: calc(50% - 15px);
      margin: 7.5px;
    }
  }
  
  .detail-product .popup-check .content-popup .table-product .change-region .result span {
    font-weight: bold;
  }
  
  .detail-product .popup-check .content-popup .table-product .list-shop .head, .detail-product .popup-check .content-popup .table-product .list-shop .item-shop {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  .detail-product .popup-check .content-popup .table-product .list-shop .col1 {
    width: 70%;
    float: left;
  }
  
  .detail-product .popup-check .content-popup .table-product .list-shop .col2 {
    width: 30%;
    float: left;
    text-align: center;
  }
  
  .detail-product .popup-check .content-popup .table-product .list-shop .col2 .title-change {
    font-weight: 600;
  }
  
  @media (max-width: 767px) {
    .detail-product .popup-check .content-popup .table-product .list-shop .col2 .title-change {
      font-size: 0.75rem;
    }
  }
  
  .detail-product .popup-check .content-popup .table-product .list-shop .head {
    padding: 10px 0;
  }
  
  .detail-product .popup-check .content-popup .table-product .list-shop .body {
    height: 150px;
    overflow: auto;
  }
  
  .detail-product .popup-check .content-popup .table-product .list-shop .item-shop {
    margin-bottom: 15px;
    margin-top: 5px;
  }
  
  .detail-product .popup-check .content-popup .table-product .list-shop .item-shop .address {
    position: relative;
    padding-left: 25px;
    font-weight: 600;
    font-size: 0.875rem;
  }
  
  @media (max-width: 767px) {
    .detail-product .popup-check .content-popup .table-product .list-shop .item-shop .address {
      font-size: 0.75rem;
    }
  }
  
  .detail-product .popup-check .content-popup .table-product .list-shop .item-shop .address:before {
    content: '';
    width: 16px;
    height: 20px;
    background-image: url(../../../../../img3_0/icon/address.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 5px;
    left: 0;
  }
  
  .detail-product .popup-check .content-popup .table-product .list-shop .item-shop .address span {
    color: #007f28;
    display: block;
    font-weight: normal;
  }
  
  .detail-product .popup-check .content-popup .table-product .list-shop .item-shop .note {
    font-size: 0.8125rem;
  }
  
  @media (max-width: 767px) {
    .detail-product .popup-check .content-popup .table-product .list-shop .item-shop .note {
      font-size: 0.6875rem;
    }
  }
  
  .detail-product .popup-check .content-popup .table-product .list-shop .item-shop .radio-custom {
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    border-radius: 16px;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
  }
  
  .detail-product .popup-check .content-popup .table-product .list-shop .item-shop .radio-custom.active:after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #007f28;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -khtml-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .detail-product .popup-check .content-popup .table-product .list-shop .item-shop .text-change {
    font-style: italic;
    font-size: 0.75rem;
  }
  
  @media (max-width: 767px) {
    .detail-product .popup-check .content-popup .table-product .list-shop .item-shop .text-change {
      font-size: 0.625rem;
    }
  }
  
  .detail-product .popup-check .content-popup .table-product .list-action {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  .detail-product .popup-check .content-popup .table-product .list-action .left, .detail-product .popup-check .content-popup .table-product .list-action .right {
    width: 50%;
    float: left;
  }
  
  .detail-product .popup-check .content-popup .table-product .list-action .left .change-number label {
    font-weight: bold;
  }
  
  .detail-product .popup-check .content-popup .table-product .list-action .left .change-number select {
    margin-left: 10px;
    padding: 5px;
    width: 150px;
  }
  
  .detail-product .popup-check .content-popup .table-product .list-action .right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .detail-product .popup-check .content-popup .table-product .list-action .right a {
    color: #000000;
  }
  
  .detail-product .popup-check .content-popup .table-product .list-action .right .cancel {
    margin-right: 10px;
  }
  
  .detail-product .popup-check .content-popup .table-product .list-action .right .next {
    padding: 8px 12px;
    background: #000000;
    color: white;
  }
  
  .block .title-block {
    text-align: center;
    margin: 50px 0;
    font-size: 2.625rem;
    color: #f15b67;
    position: relative;
    line-height: 1;
    font-family: TTCOMMONS-REGULAR;
  }
  
  @media (max-width: 1440px) {
    .block .title-block {
      font-size: 1.75rem;
      margin: 35px 0;
    }
  }
  
  @media (max-width: 1199px) {
    .block .title-block {
      font-size: 1.3125rem;
    }
  }
  
  .block .title-block .view-all {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  
  .block .view {
    text-align: center;
  }
  
  .block .view-all {
    text-decoration: none;
    color: #808080;
    font-size: 1.25rem;
    padding-right: 20px;
    background-image: url(../../../../../img3_0/icon/next-line.png);
    background-repeat: no-repeat;
    background-position: right 4px center;
    background-size: 7px;
    text-align: center;
    display: inline-block;
    font-family: GARAMONDPREMRPRO;
    font-style: italic;
  }
  
  .block .view-all:hover {
    color: #f15b67;
  }
  
  @media (max-width: 1440px) {
    .block .view-all {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 1199px) {
    .block .view-all {
      font-size: 0.875rem;
    }
  }
  
  @media (max-width: 767px) {
    .block .view-all {
      margin-bottom: 20px;
      text-decoration: underline;
    }
  }
  
  .block .product-slide {
    margin-bottom: 20px;
  }
  
  /* .block .product-slide .item {
    padding: 0 10px;
  } */
  
  .block .product-slide .owl-nav .owl-prev, .block .product-slide .owl-nav .owl-next {
    position: absolute;
    top: 40%;
    -webkit-transform: translate(0, -50%);
    -khtml-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  
  @media (max-width: 991px) {
    .block .product-slide .owl-nav .owl-prev img, .block .product-slide .owl-nav .owl-next img {
      width: 12px;
    }
  }
  
  .block .product-slide .owl-nav .owl-prev {
    left: -58px;
  }
  
  @media (max-width: 1440px) {
    .block .product-slide .owl-nav .owl-prev {
      left: -35px;
    }
  }
  
  @media (max-width: 1199px) {
    .block .product-slide .owl-nav .owl-prev {
      left: 10px;
    }
  }
  
  .block .product-slide .owl-nav .owl-next {
    right: -58px;
  }
  
  @media (max-width: 1440px) {
    .block .product-slide .owl-nav .owl-next {
      right: -35px;
    }
  }
  
  @media (max-width: 1199px) {
    .block .product-slide .owl-nav .owl-next {
      right: 10px;
    }
  }
  .wl-info{margin-top:10px}
  .wl-info .out-of-stock{color:#F15B67}