<link rel="stylesheet" href="css/web/cart.css">


<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <input type="hidden" id="itemtotal" value="1">
            <div class="cart-page">
                <h1 class="title-page">Giỏ hàng của bạn</h1>
                <div class="cart">
                    <div class="head-cart">
                        <div class="col-1">Ảnh sản phẩm</div>
                        <div class="col-2">Tên sản phẩm</div>
                        <div class="col-3">Đơn giá</div>
                        <div class="col-4">Số lượng</div>
                        <div class="col-5">Thành tiền</div>
                        <div class="col-6">Xóa</div>
                    </div>
                    <div class="body-cart">
                        <div class="item-cart">
                            <div class="col-1"><a href=""><img
                                        src="https://www.vascara.com/uploads/cms_productmedia/2022/April/30/sho-0191-wht--2-__63497__1651315198-small.jpg"
                                        alt="Túi Đeo Chéo Khóa Kim Loại Geometric - SHO 0191 - Màu Be"></a></div>
                            <div class="col-2">
                                <div class="info-item">
                                    <div class="title-product">Túi Đeo Chéo Khóa Kim Loại Geometric - SHO 0191 - Màu Be
                                    </div>
                                    <ul class="attr">
                                        <li> <span>Màu:</span>Be</li>
                                        <li><span>Size:</span>S</li>

                                    </ul>
                                    <div class="wl-info">Kho <span class="wl-name">Hồ Chí Minh</span>: <span
                                            class="in-stock">Còn hàng</span></div>
                                </div>
                            </div>
                            <div class="col-3">
                                <span class="price"><ins><span class="amount">904.000</span><span
                                            class="currency">đ</span></ins></span>
                            </div>
                            <div class="col-4">
                                <div class="book-number">
                                    <button class="item-change minus" data-key="6181-29398-1011SHO0191">-</button>
                                    <div class="input-number">
                                        <input class="6181-29398-1011SHO0191" value="1" disabled="">
                                    </div>
                                    <button class="item-change plus" data-key="6181-29398-1011SHO0191">+</button>
                                </div>
                            </div>
                            <div class="col-5"> <span class="price"><ins><span data-price="904000"
                                            class="amount sb-6181-29398-1011SHO0191">904.000</span><span
                                            class="currency">đ</span></ins></span></div>
                            <div class="col-6"><a href="javascript:void(0)" class="cancel delete-item-in-cart"
                                    data-pid="6181" data-poid="29398"><i class="fa fa-trash-o"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="cart-button">
                    <div class="row">
                        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div id="div-cartitemmoreforgift" class="cus-note"></div>
                            <div class="pp_notify">
                                <div class="item-promotion fgift"><span style="color:#FF0000"><strong>MIỄN PHÍ VẬN
                                            CHUYỂN TOÀN QUỐC &amp; GIẢM 15% CHO ĐƠN HÀNG TỪ 699.000Đ (15.06 -
                                            21.06.2022).</strong></span></div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <ul class="total-price">
                                <li>Số lượng</li>
                                <li class="price quantitytotal">1</li>
                            </ul>
                            <ul class="total-price">
                                <li>Giá trị hàng hóa</li>
                                <li class="price"><span class="amount pricesellingtotal">904.000</span><span
                                        class="currency">đ</span></li>
                            </ul>
                            <ul class="total-price">
                                <li>Phí vận chuyển</li>
                                <li class="price"><i>Chưa có</i></li>
                            </ul>
                            <ul class="total-price">
                                <li>Giảm tiền</li>
                                <li class="price sale"><span class="amount promotiondiscount">-135.600</span><span
                                        class="currency">đ</span></li>
                            </ul>
                            <ul class="total-price">
                                <li>Thành tiền <span>(đã bao gồm VAT)</span></li>
                                <li class="price"><span class="amount pricetotal" total="904000">904.000</span><span
                                        class="currency">đ</span></li>
                            </ul><a href="javascript:void(0)" class="checkout-cart">Tiến hành thanh toán</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart-empty hide">
                <div class="noti">Hiện tại không có sản phẩm nào trong giỏ hàng của bạn</div><a href="/"
                    class="continue-cart">Tiếp tục mua sắm &gt;&gt;</a>
            </div>
        </div>
    </div>
</div>

<script src="../../public/js/desktop/3.0/cart.js"></script>
<script src="../../public/js/toastr.js"></script>