<link rel="stylesheet" href="css/web/form.css">

<div class="register">
    <br>
    <div class="title">ĐĂNG NHẬP</div>
    <div class="group-form">
        <form id="frmregister" class="" method="post" action="">

            <input type="hidden" name="ftoken" value="301d0b5774bbd47da709980153b16206">
            <div class="form-group">
                {{!-- <label>Email của bạn</label> --}}
                <label>Tài khoản của bạn</label>
                <input placeholder="Email" name="femail" id="femail" type="text" value=""
                    class="form-control txt_login">
                <div class="error error-email hide"></div>
            </div>
            <!-- <div class="form-group">
                    <label>Điện thoại</label>
                    <input placeholder="Số điện thoại" maxlength="10" class="form-control txt_login" name="fphone"
                        id="fphone" value=""
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                    <div class="error error-phone hide"></div>
                </div> -->
            <div class="form-group">
                <label>Mật khẩu của bạn</label>
                <input placeholder="Mật khẩu" name="fpassword" id="fpassword" type="password"
                    class="form-control txt_login">
                <div class="error error-pass hide"></div>
            </div>

            <button class="btn btn-default btn_login btn-register" type="submit">ĐĂNG NHẬP</button>
            <div class="more-link">
                <a href="/register">Đăng ký</a>
                <a href="/forgotpass">Quên mật khẩu</a>
            </div>
        </form>
    </div>
</div>