<div class="block">
    <div class="title-block">SUMMER FLIP-FLOPS</div>
    <div class="collection">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12"><a
                        href="https://www.vascara.com/product/search?keyword=DXP+0177"><img class="lazyload"
                            src="https://www.vascara.com/uploads/banner/2022/June/9/8901654766345.gif" style=""></a>
                </div>
            </div>
        </div>
    </div>
</div>