<footer class="footer footer004">
    <div class="main-footer004">
        <div class="container">
            <div class="row">
                <ul class="l-footer">
                    <li>
                        <a href=""><img alt="" src="img/icons/bct.png" /></a>
                    </li>
                    <li>
                        <a class="link-show" href="#"><i class="icon icon-address" aria-hidden="true"></i><span>Cửa
                                hàng</span></a>
                    </li>
                    <li>
                        <a class="hotline" href="javascript:void(0)"><i class="icon icon-hotline"
                                aria-hidden="true"></i><span>1900 6909</span><span class="call-price">(1000đ/phút,
                                9-22h)</span></a>
                    </li>
                    <li>
                        <ul class="sub-mxh">
                            <li>
                                <a href="#" target="blank"><img alt="" src="img/icons/facebook.png" /></a>
                            </li>
                            <li>
                                <a href="#" target="blank"><img alt="" src="img/icons/instagram.png" /></a>
                            </li>
                            <li>
                                <a href="#" target="blank"><img alt="" src="img/icons/zalo.png" /></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">công ty</a>
                    </li>
                    <li>
                        <a href="#">chính sách khách hàng
                        </a>
                    </li>
                    <li><a href="#">hỗ trợ</a></li>
                    <li>
                        <a href="#">phương thức thanh toán
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>
            Công ty TNHH MTV Global Fashion. Văn phòng: Lầu 4 tòa nhà ACM số 96
            Cao Thắng phường 04 quận 03 TP Hồ Chí Minh.
        </p>

        <p>
            GP số <span style="color: #0090ff">0314657558 </span><span>do sở KHĐT Tp Hồ Chí Minh cấp lần đầu
                ngày 05/10/2017</span>
        </p>
    </div>
</footer>