<!-- Header -->
<header class="header header001">

    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="menu-inner">
                        <div class="btn-showmenu"><span></span></div>
                        <div class="logo" itemscope="" itemtype="http://schema.org/Organization">
                            <a href="/" itemprop="url">
                                <img itemprop="logo" src="img/Vector-Smart-Object-RED.png" alt="" />
                            </a>
                            <div class="change-area">
                                <div class="ct-area">
                                    <!-- <span>Chọn kho giao hàng:</span><span class="loca hdwlname">Hà Nội</span> -->
                                    <span>Kho giao hàng:</span><span class="loca hdwlname">Hà Nội</span>
                                </div>
                            </div>
                        </div>
                        <div class="search-wrap">
                            <form action="https://www.vascara.com/product/search" class="search_form">
                                <input placeholder="Tìm kiếm" class="search_input" name="keyword" />
                            </form>
                        </div>
                        <div class="tool-right">
                            <div class="search-mobi">
                                <img src="img/icons/search-v1.png" alt="" />
                            </div>
                            <div class="profile">
                                <div class="loggin">
                                    <ul>
                                        <li>
                                            <a href="register">ĐĂNG KÝ</a>
                                        </li>
                                        <li>
                                            <a href="login">ĐĂNG NHẬP</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="cart">
                                <a href="cart"><img src="img/icons/cartx2.png" alt="" /><span
                                        class="count">(0)</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="search-wrap-mobi">
        <form action="https://www.vascara.com//product/search" class="search_form">
            <input placeholder="Tìm kiếm v4" class="search_input" name="keyword" />
        </form>
    </div>
    <div class="change-area-mobi">
        Chọn kho giao hàng: <span class="loca hdwlname">Hà Nội</span>

        <!-- <div class="select-area">Đổi</div> -->
    </div>
    <div class="main-header">
        <div class="main-header-top">
            <div class="close"><img src="img/icons/close1.png" alt=""></div>
            <div class="profile">
                <ul>
                    <li>Xin chào,Khách</li>
                    <li class="avatar"><img src="img/icons/noavatar.png" alt="">
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <nav class="main-menu">
                        <ul>
                            <li><a href="">NEW ARRIVAL</a></li>
                            <li><a href="">COLLECTION</a>
                                <div class="btn-showsub"><i class="icon icon-plus" aria-hidden="true"></i></div>

                                <div class="btn-closesub"><i class="icon icon-disc" aria-hidden="true"></i></div>

                                <ul class="sub-menu">
                                    <li><a href="">Spring Summer 2022</a></li>
                                    <li><a href="">Metallic
                                            flip-flops</a></li>
                                    <li><a href="">Game. Set. Match</a></li>
                                    <li><a href="">Reconnect
                                            With Your Childhood Dream</a></li>
                                </ul>
                            </li>
                            <li><a href="">GIÀY</a>
                                <div class="btn-showsub"><i class="icon icon-plus" aria-hidden="true"></i></div>

                                <div class="btn-closesub"><i class="icon icon-disc" aria-hidden="true"></i></div>

                                <ul class="sub-menu">
                                    <li><a href="">Xem Tất Cả Giày</a></li>
                                    <li><a href="">Giày Da Thật</a></li>
                                    <li><a href="">Giày Sandals</a></li>
                                    <li><a href="">Dép &amp; Guốc</a></li>
                                    <li><a href="">Giày Bít</a></li>
                                    <li><a href="">Giày Sneaker</a></li>
                                    <li><a href="">Giày Cao Gót</a></li>
                                    <li><a href="">Giày Boot</a></li>
                                </ul>
                            </li>
                            <li><a href="">TÚI XÁCH</a>
                                <div class="btn-showsub"><i class="icon icon-plus" aria-hidden="true"></i></div>

                                <div class="btn-closesub"><i class="icon icon-disc" aria-hidden="true"></i></div>

                                <ul class="sub-menu">
                                    <li><a href="">Xem Tất Cả Túi Xách</a></li>
                                    <li><a href="">Túi Xách Da Thật</a>
                                    </li>
                                    <li><a href="">Túi Xách Tay</a></li>
                                    <li><a href="">Túi Đeo Chéo</a></li>
                                </ul>
                            </li>
                            <li><a href="">BALO</a></li>
                            <li><a href="">VÍ BÓP</a>
                                <div class="btn-showsub"><i class="icon icon-plus" aria-hidden="true"></i></div>

                                <div class="btn-closesub"><i class="icon icon-disc" aria-hidden="true"></i></div>

                                <ul class="sub-menu">
                                    <li><a href="">Xem Tất Cả Ví Bóp</a></li>
                                    <li><a href="">Ví Da Thật</a></li>
                                    <li><a href="">Ví Cầm Tay</a></li>
                                    <li><a href="">Ví Dự Tiệc</a></li>
                                </ul>
                            </li>
                            <li><a href="">PHỤ KIỆN</a>
                                <div class="btn-showsub"><i class="icon icon-plus" aria-hidden="true"></i></div>

                                <div class="btn-closesub"><i class="icon icon-disc" aria-hidden="true"></i></div>

                                <ul class="sub-menu">
                                    <li><a href="">Xem Tất Cả Phụ Kiện</a></li>
                                    <li><a href="">Mắt Kính</a></li>
                                    <li><a href="">Thắt Lưng</a></li>
                                </ul>
                            </li>
                            <li><a href="">GIFTCARD</a></li>
                            {{!-- <li><a href=""><span style="color:#ff529c">FUTURE OF FASHION</span></a>
                                <div class="btn-showsub"><i class="icon icon-plus" aria-hidden="true"></i></div>

                                <div class="btn-closesub"><i class="icon icon-disc" aria-hidden="true"></i></div>

                                <ul class="sub-menu">
                                    <li><a href="">Future
                                            of Local Fashion in Vietnam</a></li>
                                    <li><a href="">Tài Trợ</a></li>
                                </ul>
                            </li> --}}
                            <li><a href="">SALE OFF</a></li>
                            <li><a href="">FREE SHIPPING</a></li>
                            <li><a href="">TIN TỨC</a>
                                <div class="btn-showsub"><i class="icon icon-plus" aria-hidden="true"></i></div>

                                <div class="btn-closesub"><i class="icon icon-disc" aria-hidden="true"></i></div>

                                <ul class="sub-menu">
                                    <li><a href="">Thông Cáo Báo
                                            Chí</a></li>
                                    <li><a href="">Khuyến Mãi</a></li>
                                    <li><a href="">Thông Báo</a></li>
                                    <li><a href="">Tuyển Dụng</a></li>
                                </ul>
                            </li>
                        </ul>

                    </nav>
                </div>
            </div>
        </div>
        <div class="main-header-bottom">
            <ul>
                <li><a href="/register">Đăng ký</a></li>
                <li><a href="/login">Đăng nhập</a></li>
            </ul>
        </div>
    </div>
    {{!-- <div class="main-header unfixed">
        <div class="main-header-top">
            <div class="close">
                <img src="img/icons/close1.png" alt="" />
            </div>
            <div class="profile">
                <ul>
                    <li>Xin chào,Khách</li>
                    <li class="avatar">
                        <img src="https://www.vascara.com/templates/current/images/noavatar.png" alt="" />
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <nav class="main-menu">
                        <ul>
                            <li>
                                <a href="#">NEW ARRIVAL</a>
                            </li>
                            <li>
                                <a href="#">COLLECTION</a>
                                <div class="btn-showsub">
                                    <i class="icon icon-plus" aria-hidden="true"></i>
                                </div>

                                <div class="btn-closesub">
                                    <i class="icon icon-disc" aria-hidden="true"></i>
                                </div>

                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">Spring Summer
                                            2022</a>
                                    </li>
                                    <li>
                                        <a href="#">Metallic
                                            flip-flops</a>
                                    </li>
                                    <li>
                                        <a href="#">Game. Set. Match</a>
                                    </li>
                                    <li>
                                        <a href="#">Reconnect
                                            With Your Childhood Dream</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">GIÀY</a>
                                <div class="btn-showsub">
                                    <i class="icon icon-plus" aria-hidden="true"></i>
                                </div>

                                <div class="btn-closesub">
                                    <i class="icon icon-disc" aria-hidden="true"></i>
                                </div>

                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">Xem Tất Cả Giày</a>
                                    </li>
                                    <li>
                                        <a href="#">Giày Da Thật</a>
                                    </li>
                                    <li>
                                        <a href="#">Giày Sandals</a>
                                    </li>
                                    <li>
                                        <a href="#">Dép &amp; Guốc</a>
                                    </li>
                                    <li>
                                        <a href="#">Giày Bít</a>
                                    </li>
                                    <li>
                                        <a href="#">Giày Sneaker</a>
                                    </li>
                                    <li>
                                        <a href="#">Giày Cao Gót</a>
                                    </li>
                                    <li>
                                        <a href="#">Giày Boot</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">TÚI XÁCH</a>
                                <div class="btn-showsub">
                                    <i class="icon icon-plus" aria-hidden="true"></i>
                                </div>

                                <div class="btn-closesub">
                                    <i class="icon icon-disc" aria-hidden="true"></i>
                                </div>

                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">Xem Tất Cả Túi Xách</a>
                                    </li>
                                    <li>
                                        <a href="#">Túi Xách Da
                                            Thật</a>
                                    </li>
                                    <li>
                                        <a href="#">Túi Xách Tay</a>
                                    </li>
                                    <li>
                                        <a href="#">Túi Đeo Chéo</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">BALO</a>
                            </li>
                            <li>
                                <a href="#">VÍ BÓP</a>
                                <div class="btn-showsub">
                                    <i class="icon icon-plus" aria-hidden="true"></i>
                                </div>

                                <div class="btn-closesub">
                                    <i class="icon icon-disc" aria-hidden="true"></i>
                                </div>

                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">Xem Tất Cả Ví Bóp</a>
                                    </li>
                                    <li>
                                        <a href="#">Ví Da Thật</a>
                                    </li>
                                    <li>
                                        <a href="#">Ví Cầm Tay</a>
                                    </li>
                                    <li>
                                        <a href="#">Ví Dự Tiệc</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">PHỤ KIỆN</a>
                                <div class="btn-showsub">
                                    <i class="icon icon-plus" aria-hidden="true"></i>
                                </div>

                                <div class="btn-closesub">
                                    <i class="icon icon-disc" aria-hidden="true"></i>
                                </div>

                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">Xem Tất Cả Phụ Kiện</a>
                                    </li>
                                    <li>
                                        <a href="#">Mắt Kính</a>
                                    </li>
                                    <li>
                                        <a href="#">Thắt Lưng</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">GIFTCARD</a>
                            </li>
                            <li>
                                <a href="#">SALE OFF</a>
                            </li>
                            <li>
                                <a href="#">FREE
                                    SHIPPING</a>
                            </li>
                            <li>
                                <a href="#">TIN TỨC</a>
                                <div class="btn-showsub">
                                    <i class="icon icon-plus" aria-hidden="true"></i>
                                </div>

                                <div class="btn-closesub">
                                    <i class="icon icon-disc" aria-hidden="true"></i>
                                </div>

                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">Báo Chí</a>
                                    </li>
                                    <li>
                                        <a href="#">Khuyến Mãi</a>
                                    </li>
                                    <li>
                                        <a href="#">Thông
                                            Báo</a>
                                    </li>
                                    <li>
                                        <a href="#">Tài Trợ</a>
                                    </li>
                                    <li>
                                        <a href="#">Tuyển Dụng</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="main-header-bottom">
            <ul>
                <li><a href="/register">Đăng ký</a></li>
                <li><a href="/login">Đăng nhập</a></li>
            </ul>
        </div>
    </div> --}}
    <!-- <div class="popup-loca">
                <div class="ct-popup">
                    <div class="close"></div>
                    <p>Vui lòng chọn khu vực bạn muốn xem tồn kho:</p>
                    <select class="select2 select-area select2-hidden-accessible" id="hd-warehouse-location"
                        tabindex="-1" aria-hidden="true" data-select2-id="hd-warehouse-location">
                        <option value="1">Hồ Chí Minh</option>
                        <option value="2" selected="selected" data-select2-id="8">
                            Hà Nội
                        </option>
                    </select><span class="select2 select2-container select2-container--default" dir="ltr"
                        data-select2-id="7" style="width: 100px"><span class="selection"><span
                                class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true"
                                aria-expanded="false" tabindex="0" aria-disabled="false"
                                aria-labelledby="select2-hd-warehouse-location-container"><span
                                    class="select2-selection__rendered" id="select2-hd-warehouse-location-container"
                                    role="textbox" aria-readonly="true" title="Hà Nội">Hà Nội</span><span
                                    class="select2-selection__arrow" role="presentation"><b
                                        role="presentation"></b></span></span></span><span class="dropdown-wrapper"
                            aria-hidden="true"></span></span>
                    <div class="btn-continue btnwl-confirm">Xác nhận</div>
                </div>
            </div>
            <div class="popup-loca-sale">
                <div class="ct-popup">
                    <div class="close"></div>
                    <p>Vui lòng chọn khu vực bạn đang sinh sống:</p>
                    <select class="select2 select-area select2-hidden-accessible" disabled="" data-select2-id="3"
                        tabindex="-1" aria-hidden="true">
                        <option value="0" data-select2-id="5">
                            -- Chọn tỉnh thành --
                        </option>
                    </select><span
                        class="select2 select2-container select2-container--default select2-container--disabled"
                        dir="ltr" data-select2-id="4" style="width: 100px"><span class="selection"><span
                                class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true"
                                aria-expanded="false" tabindex="-1" aria-disabled="true"
                                aria-labelledby="select2-bgy7-container"><span class="select2-selection__rendered"
                                    id="select2-bgy7-container" role="textbox" aria-readonly="true"
                                    title="-- Chọn tỉnh thành --">-- Chọn tỉnh thành --</span><span
                                    class="select2-selection__arrow" role="presentation"><b
                                        role="presentation"></b></span></span></span><span class="dropdown-wrapper"
                            aria-hidden="true"></span></span>
                    <div class="btn-continue btn-smit">Xem khuyến mãi</div>
                </div>
            </div> -->
</header>
<div class="cls_loader">
    <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
    </div>
</div>