<div class="block">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="title-block">

                    SẢN PHẨM MỚI NHẤT<a href="#" class="pc view-all">Xem tất cả</a>
                </div>
            </div>
        </div>
    </div>
    <div class="product-list">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <div class="product-item">
                        <div class="product-image">
                            <a href="/product-detail"><img
                                    src="https://www.vascara.com/uploads/cms_productmedia/2022/May/31/dxp-0177-bei__63940__1653994003-medium.jpg"
                                    alt="Xem sản phẩm Dép Quai Ngang Đan Chéo Mũi Tròn - DXP 0177 - Màu Be"
                                    class="avatar before lazyload" style=""><img
                                    src="https://www.vascara.com/uploads/cms_productmedia/2022/June/2/dxp-0177-be__64174__1654155160-medium@2x.jpg"
                                    data-src="https://www.vascara.com/uploads/cms_productmedia/2022/June/2/dxp-0177-be__64174__1654155160-medium@2x.jpg"
                                    alt="Xem sản phẩm Dép Quai Ngang Đan Chéo Mũi Tròn - DXP 0177 - Màu Be"
                                    class="avatar after">
                                <ul class="tem-inside">
                                    <li class="bottom-right"><img
                                            src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                            alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                    </li>
                                </ul>
                            </a>
                        </div>

                        <span class="price ">
                            <ins><span class="amount">539.000</span><span class="currency">đ</span></ins>
                        </span>

                        <h5 class="product-title"> <a href="/product-detail">Dép
                                Quai Ngang Đan Chéo Mũi Tròn</a></h5>
                    </div>
                </div>





                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <div class="product-item">
                        <div class="product-image">
                            <a href="#"><img
                                    src="https://www.vascara.com/uploads/cms_productmedia/2022/May/28/wal-0029-pik__63865__1653754120-medium.jpg"
                                    alt="Xem sản phẩm Ví Cầm Tay Color Block Phối Hologram - WAL 0229 - Màu Hồng"
                                    class="avatar before lazyload" style=""><img
                                    src="https://www.vascara.com/uploads/cms_productmedia/2022/May/28/wal-0029-pik--1-__63866__1653754134-medium@2x.jpg"
                                    data-src="https://www.vascara.com/uploads/cms_productmedia/2022/May/28/wal-0029-pik--1-__63866__1653754134-medium@2x.jpg"
                                    alt="Xem sản phẩm Ví Cầm Tay Color Block Phối Hologram - WAL 0229 - Màu Hồng"
                                    class="avatar after">
                                <ul class="tem-inside">
                                    <li class="bottom-right"><img
                                            src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                            alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                    </li>
                                </ul>
                            </a>
                        </div>

                        <span class="price ">
                            <ins><span class="amount">504.000</span><span class="currency">đ</span></ins>
                        </span>

                        <h5 class="product-title"> <a href="#">Ví
                                Cầm Tay Color Block Phối Hologram</a></h5>
                    </div>
                </div>





                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <div class="product-item">
                        <div class="product-image">
                            <a href="#"><img
                                    src="https://www.vascara.com/uploads/cms_productmedia/2022/May/31/bmn-0520-wth--1-__63997__1653996009-medium.jpg"
                                    alt="Xem sản phẩm Giày Bít Mũi Nhọn Vân Da Kỳ Đà - BMN 0520 - Màu Trắng"
                                    class="avatar before lazyload" style=""><img
                                    src="https://www.vascara.com/uploads/cms_productmedia/2022/June/2/400519970-bmn-0520-tr-ng-detail__64184__1654166788-medium@2x.jpg"
                                    data-src="https://www.vascara.com/uploads/cms_productmedia/2022/June/2/400519970-bmn-0520-tr-ng-detail__64184__1654166788-medium@2x.jpg"
                                    alt="Xem sản phẩm Giày Bít Mũi Nhọn Vân Da Kỳ Đà - BMN 0520 - Màu Trắng"
                                    class="avatar after">
                                <ul class="tem-inside">
                                    <li class="bottom-right"><img
                                            src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                            alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                    </li>
                                </ul>
                            </a>
                        </div>

                        <span class="price ">
                            <ins><span class="amount">559.000</span><span class="currency">đ</span></ins>
                        </span>

                        <h5 class="product-title"> <a href="#">Giày
                                Bít Mũi Nhọn Vân Da Kỳ Đà</a></h5>
                    </div>
                </div>





                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <div class="product-item">
                        <div class="product-image">
                            <a href="#"><img
                                    src="https://www.vascara.com/uploads/cms_productmedia/2022/June/2/bac-0162-wht__64159__1654142851-medium.jpg"
                                    alt="Xem sản phẩm Balo Phối Layer Viền Đen - BAC 0162 - Màu Trắng"
                                    class="avatar before lazyload" style=""><img
                                    src="https://www.vascara.com/uploads/cms_productmedia/2022/June/2/bac-0162-wht--4-__64160__1654142864-medium@2x.jpg"
                                    data-src="https://www.vascara.com/uploads/cms_productmedia/2022/June/2/bac-0162-wht--4-__64160__1654142864-medium@2x.jpg"
                                    alt="Xem sản phẩm Balo Phối Layer Viền Đen - BAC 0162 - Màu Trắng"
                                    class="avatar after">
                                <ul class="tem-inside">
                                    <li class="bottom-right"><img
                                            src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                            alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                    </li>
                                </ul>
                            </a>
                        </div>

                        <span class="price ">
                            <ins><span class="amount">964.000</span><span class="currency">đ</span></ins>
                        </span>

                        <h5 class="product-title"> <a href="#">Balo
                                Phối Layer Viền Đen</a></h5>
                    </div>
                </div>





                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <div class="product-item">
                        <div class="product-image">
                            <a href="#"><img
                                    src="https://www.vascara.com/uploads/cms_productmedia/2022/May/31/sdk-0323-dyl--1-__64040__1654012622-medium.jpg"
                                    alt="Xem sản phẩm Giày Sandal Vân Da Kỳ Đà Gót Trụ Viền Metallic - SDK 0323 - Màu Vàng Đậm"
                                    class="avatar before lazyload" style=""><img
                                    src="https://www.vascara.com/uploads/cms_productmedia/2022/May/31/sdk-0323-dyl__64041__1654012635-medium@2x.jpg"
                                    data-src="https://www.vascara.com/uploads/cms_productmedia/2022/May/31/sdk-0323-dyl__64041__1654012635-medium@2x.jpg"
                                    alt="Xem sản phẩm Giày Sandal Vân Da Kỳ Đà Gót Trụ Viền Metallic - SDK 0323 - Màu Vàng Đậm"
                                    class="avatar after">
                                <ul class="tem-inside">
                                    <li class="bottom-right"><img
                                            src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                            alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                    </li>
                                </ul>
                            </a>
                        </div>

                        <span class="price ">
                            <ins><span class="amount">578.000</span><span class="currency">đ</span></ins>
                        </span>

                        <h5 class="product-title"> <a href="#">Giày
                                Sandal Vân Da Kỳ Đà Gót Trụ Viền Metallic</a></h5>
                    </div>
                </div>





                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <div class="product-item">
                        <div class="product-image">
                            <a href="#"><img
                                    src="https://www.vascara.com/uploads/cms_productmedia/2022/May/10/wal-0228-org__63696__1652177133-medium.jpg"
                                    alt="Xem sản phẩm Ví Cầm Tay Mini Khóa Kim Loại Hình Nơ - WAL 0228 - Màu Cam"
                                    class="avatar before lazyload" style=""><img
                                    src="https://www.vascara.com/uploads/cms_productmedia/2022/May/10/wal-0228-org--1-__63697__1652177153-medium@2x.jpg"
                                    data-src="https://www.vascara.com/uploads/cms_productmedia/2022/May/10/wal-0228-org--1-__63697__1652177153-medium@2x.jpg"
                                    alt="Xem sản phẩm Ví Cầm Tay Mini Khóa Kim Loại Hình Nơ - WAL 0228 - Màu Cam"
                                    class="avatar after">
                                <ul class="tem-inside">
                                    <li class="bottom-right"><img
                                            src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                            alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                    </li>
                                </ul>
                            </a>
                        </div>

                        <span class="price ">
                            <ins><span class="amount">504.000</span><span class="currency">đ</span></ins>
                        </span>

                        <h5 class="product-title"> <a href="#">Ví
                                Cầm Tay Mini Khóa Kim Loại Hình Nơ</a></h5>
                    </div>
                </div>





                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <div class="product-item">
                        <div class="product-image">
                            <a href="#"><img
                                    src="https://www.vascara.com/uploads/cms_productmedia/2022/May/31/dxp-0176-gld__63908__1653992989-medium.jpg"
                                    alt="Xem sản phẩm Dép Metallic Quai Đôi Mũi Vuông - DXP 0176 - Màu Vàng Kim"
                                    class="avatar before lazyload" style=""><img
                                    src="https://www.vascara.com/uploads/cms_productmedia/2022/June/2/dxp-0176-vang-kim__64172__1654155029-medium@2x.jpg"
                                    data-src="https://www.vascara.com/uploads/cms_productmedia/2022/June/2/dxp-0176-vang-kim__64172__1654155029-medium@2x.jpg"
                                    alt="Xem sản phẩm Dép Metallic Quai Đôi Mũi Vuông - DXP 0176 - Màu Vàng Kim"
                                    class="avatar after">
                                <ul class="tem-inside">
                                    <li class="bottom-right"><img
                                            src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                            alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                    </li>
                                </ul>
                            </a>
                        </div>

                        <span class="price ">
                            <ins><span class="amount">504.000</span><span class="currency">đ</span></ins>
                        </span>

                        <h5 class="product-title"> <a href="#">Dép
                                Metallic Quai Đôi Mũi Vuông</a></h5>
                    </div>
                </div>





                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <div class="product-item">
                        <div class="product-image">
                            <a href="#"><img
                                    src="https://www.vascara.com/uploads/cms_productmedia/2022/May/13/sho-0193-yel--1-__63809__1652424972-medium.jpg"
                                    alt="Xem sản phẩm Túi Đeo Chéo Khóa Kim Loại Hình Nơ Dây Quai Xích - SHO 0193 - Màu Vàng"
                                    class="avatar before lazyload" style=""><img
                                    src="https://www.vascara.com/uploads/cms_productmedia/2022/May/13/sho-0193-yel__63810__1652424987-medium@2x.jpg"
                                    data-src="https://www.vascara.com/uploads/cms_productmedia/2022/May/13/sho-0193-yel__63810__1652424987-medium@2x.jpg"
                                    alt="Xem sản phẩm Túi Đeo Chéo Khóa Kim Loại Hình Nơ Dây Quai Xích - SHO 0193 - Màu Vàng"
                                    class="avatar after">
                                <ul class="tem-inside">
                                    <li class="bottom-right"><img
                                            src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                            alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                    </li>
                                </ul>
                            </a>
                        </div>

                        <span class="price ">
                            <ins><span class="amount">904.000</span><span class="currency">đ</span></ins>
                        </span>

                        <h5 class="product-title"> <a href="#">Túi
                                Đeo Chéo Khóa Kim Loại Hình Nơ Dây Quai Xích</a></h5>
                    </div>
                </div>





                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <div class="product-item">
                        <div class="product-image">
                            <a href="#"><img
                                    src="https://www.vascara.com/uploads/cms_productmedia/2022/June/1/sdn-0717-sil--1-__64107__1654070329-medium.jpg"
                                    alt="Xem sản phẩm Giày Sandal Ankle Strap Quai Kim Tuyến Mũi Vuông - SDN 0717 - Màu Bạc"
                                    class="avatar before lazyload" style=""><img
                                    src="https://www.vascara.com/uploads/cms_productmedia/2022/June/1/sdn-0717-sil__64108__1654070472-medium@2x.jpg"
                                    data-src="https://www.vascara.com/uploads/cms_productmedia/2022/June/1/sdn-0717-sil__64108__1654070472-medium@2x.jpg"
                                    alt="Xem sản phẩm Giày Sandal Ankle Strap Quai Kim Tuyến Mũi Vuông - SDN 0717 - Màu Bạc"
                                    class="avatar after">
                                <ul class="tem-inside">
                                    <li class="bottom-right"><img
                                            src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                            alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                    </li>
                                </ul>
                            </a>
                        </div>

                        <span class="price ">
                            <ins><span class="amount">658.000</span><span class="currency">đ</span></ins>
                        </span>

                        <h5 class="product-title"> <a href="#">Giày
                                Sandal Ankle Strap Quai Kim Tuyến Mũi Vuông</a></h5>
                    </div>
                </div>





                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <div class="product-item">
                        <div class="product-image">
                            <a href="#"><img
                                    src="https://www.vascara.com/uploads/cms_productmedia/2022/May/28/wal-0029-gry__63874__1653754852-medium.jpg"
                                    alt="Xem sản phẩm Ví Cầm Tay Color Block Phối Hologram - WAL 0229 - Màu Xám"
                                    class="avatar before lazyload" style=""><img
                                    src="https://www.vascara.com/uploads/cms_productmedia/2022/May/28/wal-0029-gry--1-__63875__1653754860-medium@2x.jpg"
                                    data-src="https://www.vascara.com/uploads/cms_productmedia/2022/May/28/wal-0029-gry--1-__63875__1653754860-medium@2x.jpg"
                                    alt="Xem sản phẩm Ví Cầm Tay Color Block Phối Hologram - WAL 0229 - Màu Xám"
                                    class="avatar after">
                                <ul class="tem-inside">
                                    <li class="bottom-right"><img
                                            src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                            alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                    </li>
                                </ul>
                            </a>
                        </div>

                        <span class="price ">
                            <ins><span class="amount">504.000</span><span class="currency">đ</span></ins>
                        </span>

                        <h5 class="product-title"> <a href="#">Ví
                                Cầm Tay Color Block Phối Hologram</a></h5>
                    </div>
                </div>





                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <div class="product-item">
                        <div class="product-image">
                            <a href="#"><img
                                    src="https://www.vascara.com/uploads/cms_productmedia/2022/May/31/gxg-0053-blk__64073__1654014417-medium.jpg"
                                    alt="Xem sản phẩm Guốc Đế Xuồng Quai Đôi Vân Da Kỳ Đà - GXG 0053 - Màu Đen"
                                    class="avatar before lazyload" style=""><img
                                    src="https://www.vascara.com/uploads/cms_productmedia/2022/May/31/gxg-0053-blk--4-__64074__1654014431-medium@2x.jpg"
                                    data-src="https://www.vascara.com/uploads/cms_productmedia/2022/May/31/gxg-0053-blk--4-__64074__1654014431-medium@2x.jpg"
                                    alt="Xem sản phẩm Guốc Đế Xuồng Quai Đôi Vân Da Kỳ Đà - GXG 0053 - Màu Đen"
                                    class="avatar after">
                                <ul class="tem-inside">
                                    <li class="bottom-right"><img
                                            src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                            alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                    </li>
                                </ul>
                            </a>
                        </div>

                        <span class="price ">
                            <ins><span class="amount">587.000</span><span class="currency">đ</span></ins>
                        </span>

                        <h5 class="product-title"> <a href="#">Guốc
                                Đế Xuồng Quai Đôi Vân Da Kỳ Đà</a></h5>
                    </div>
                </div>





                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <div class="product-item">
                        <div class="product-image">
                            <a href="#"><img
                                    src="https://www.vascara.com/uploads/cms_productmedia/2022/May/31/tot-0080-blk--1-__64100__1654015536-medium.jpg"
                                    alt="Xem sản phẩm Túi Tote Khóa Xoay Oval Ngăn Đôi - TOT 0080 - Màu Đen"
                                    class="avatar before lazyload" style=""><img
                                    src="https://www.vascara.com/uploads/cms_productmedia/2022/May/31/tot-0080-blk--3-__64101__1654015552-medium@2x.jpg"
                                    data-src="https://www.vascara.com/uploads/cms_productmedia/2022/May/31/tot-0080-blk--3-__64101__1654015552-medium@2x.jpg"
                                    alt="Xem sản phẩm Túi Tote Khóa Xoay Oval Ngăn Đôi - TOT 0080 - Màu Đen"
                                    class="avatar after">
                                <ul class="tem-inside">
                                    <li class="bottom-right"><img
                                            src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                            alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                    </li>
                                </ul>
                            </a>
                        </div>

                        <span class="price ">
                            <ins><span class="amount">894.000</span><span class="currency">đ</span></ins>
                        </span>

                        <h5 class="product-title"> <a href="#">Túi
                                Tote Khóa Xoay Oval Ngăn Đôi</a></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="view mobi"><a href="#" class="view-all">Xem tất cả</a></div>
    </div>
</div>