<div class="block">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="title-block">

                    SẢN PHẨM NỔI BẬT<a href="#" class="pc view-all">Xem tất cả</a>
                </div>
            </div>
        </div>
    </div>
    <div class="slide-product">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-slide owl-carousel owl-loaded owl-drag">


                        <div class="owl-stage-outer">
                            <div class="owl-stage"
                                style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 3867px;">
                                <div class="owl-item active" style="width: 310.55px; margin-right: 10px;">
                                    <div class="item">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a href="#"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/April/30/bmn0-518-bei--2-__63577__1651321131-medium.jpg"
                                                        alt="Xem sản phẩm Giày Bít Mũi Nhọn Trang Trí Khóa Phối Mắt Xích - BMN 0518 - Màu Kem"
                                                        class="avatar before owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2022/April/30/bmn0-518-bei--2-__63577__1651321131-medium.jpg"
                                                        style="opacity: 1;"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/April/30/bmn-0518-bei--1-__63578__1651321147-medium@2x.jpg"
                                                        alt="Xem sản phẩm Giày Bít Mũi Nhọn Trang Trí Khóa Phối Mắt Xích - BMN 0518 - Màu Kem"
                                                        class="avatar after owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2022/April/30/bmn-0518-bei--1-__63578__1651321147-medium@2x.jpg"
                                                        style="opacity: 1;">
                                                    <ul class="tem-inside">
                                                        <li class="bottom-right"><img
                                                                src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                                                alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <span class="price ">
                                                <ins><span class="amount">554.000</span><span
                                                        class="currency">đ</span></ins>
                                            </span>

                                            <h5 class="product-title"> <a href="#">Giày
                                                    Bít Mũi Nhọn Trang Trí Khóa Phối Mắt Xích</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 310.55px; margin-right: 10px;">
                                    <div class="item">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a href="#"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/May/11/sho-0187-bei--2-__63742__1652266526-medium.jpg"
                                                        alt="Xem sản phẩm Túi Đeo Chéo Chần Bông Phối Khóa Kim Loại Tam Giác - SHO 0187 - Màu Be"
                                                        class="avatar before owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2022/May/11/sho-0187-bei--2-__63742__1652266526-medium.jpg"
                                                        style="opacity: 1;"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/May/11/sho-0187-bei--3-__63743__1652266538-medium@2x.jpg"
                                                        alt="Xem sản phẩm Túi Đeo Chéo Chần Bông Phối Khóa Kim Loại Tam Giác - SHO 0187 - Màu Be"
                                                        class="avatar after owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2022/May/11/sho-0187-bei--3-__63743__1652266538-medium@2x.jpg"
                                                        style="opacity: 1;">
                                                    <ul class="tem-inside">
                                                        <li class="bottom-right"><img
                                                                src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                                                alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <span class="price ">
                                                <ins><span class="amount">904.000</span><span
                                                        class="currency">đ</span></ins>
                                            </span>

                                            <h5 class="product-title"> <a href="#">Túi
                                                    Đeo Chéo Chần Bông Phối Khóa Kim Loại Tam Giác</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 310.55px; margin-right: 10px;">
                                    <div class="item">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a href="#"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/May/31/dxp-0177-gld__63924__1653993504-medium.jpg"
                                                        alt="Xem sản phẩm Dép Quai Ngang Đan Chéo Mũi Tròn - DXP 0177 - Màu Vàng Kim"
                                                        class="avatar before owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2022/May/31/dxp-0177-gld__63924__1653993504-medium.jpg"
                                                        style="opacity: 1;"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/June/2/dxp-0177__64175__1654155202-medium@2x.jpg"
                                                        alt="Xem sản phẩm Dép Quai Ngang Đan Chéo Mũi Tròn - DXP 0177 - Màu Vàng Kim"
                                                        class="avatar after owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2022/June/2/dxp-0177__64175__1654155202-medium@2x.jpg"
                                                        style="opacity: 1;">
                                                    <ul class="tem-inside">
                                                        <li class="bottom-right"><img
                                                                src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                                                alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <span class="price ">
                                                <ins><span class="amount">539.000</span><span
                                                        class="currency">đ</span></ins>
                                            </span>

                                            <h5 class="product-title"> <a href="#">Dép
                                                    Quai Ngang Đan Chéo Mũi Tròn</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 310.55px; margin-right: 10px;">
                                    <div class="item">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a href="#"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/January/27/vi-du-tiec-clu-0095-mau-vang-main__62538__1643271201-medium.jpg"
                                                        alt="Xem sản phẩm Ví Dự Tiệc Quai Đeo Phối Họa Tiết Da Báo - CLU 0095 - Màu Vàng"
                                                        class="avatar before owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2022/January/27/vi-du-tiec-clu-0095-mau-vang-main__62538__1643271201-medium.jpg"
                                                        style="opacity: 1;"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/February/8/vi-du-tiec-quai-deo-phoi-hoa-tiet-da-bao-clu-0095-mau-vang-photo__62771__1644292717-medium@2x.jpg"
                                                        alt="Xem sản phẩm Ví Dự Tiệc Quai Đeo Phối Họa Tiết Da Báo - CLU 0095 - Màu Vàng"
                                                        class="avatar after owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2022/February/8/vi-du-tiec-quai-deo-phoi-hoa-tiet-da-bao-clu-0095-mau-vang-photo__62771__1644292717-medium@2x.jpg"
                                                        style="opacity: 1;">
                                                    <ul class="tem-inside">
                                                        <li class="bottom-right"><img
                                                                src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                                                alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <span class="price ">
                                                <ins><span class="amount">830.000</span><span
                                                        class="currency">đ</span></ins>
                                            </span>

                                            <h5 class="product-title"> <a href="#">Ví
                                                    Dự Tiệc Quai Đeo Phối Họa Tiết Da Báo</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 310.55px; margin-right: 10px;">
                                    <div class="item">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a href="#"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/March/30/giay-bit-mui-nhon-got-tru-dinh-khoa-layer-bmn-0506-mau-be-3__63319__1648625131-medium.jpg"
                                                        alt="Xem sản phẩm Giày Bít Mũi Nhọn Gót Trụ Đính Khóa Layer - BMN 0506 - Màu Be"
                                                        class="avatar before owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2022/March/30/giay-bit-mui-nhon-got-tru-dinh-khoa-layer-bmn-0506-mau-be-3__63319__1648625131-medium.jpg"
                                                        style="opacity: 1;"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/April/1/giay-bit-mui-nhon-got-tru-dinh-khoa-layer-bmn-0506-mau-be-photodetail-1__63403__1648810304-medium@2x.jpg"
                                                        alt="Xem sản phẩm Giày Bít Mũi Nhọn Gót Trụ Đính Khóa Layer - BMN 0506 - Màu Be"
                                                        class="avatar after owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2022/April/1/giay-bit-mui-nhon-got-tru-dinh-khoa-layer-bmn-0506-mau-be-photodetail-1__63403__1648810304-medium@2x.jpg"
                                                        style="opacity: 1;">
                                                    <ul class="tem-inside">
                                                        <li class="bottom-right"><img
                                                                src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                                                alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <span class="price ">
                                                <ins><span class="amount">584.000</span><span
                                                        class="currency">đ</span></ins>
                                            </span>

                                            <h5 class="product-title"> <a href="#">Giày
                                                    Bít Mũi Nhọn Gót Trụ Đính Khóa Layer</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 310.55px; margin-right: 10px;">
                                    <div class="item">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a href="#"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/January/20/vi-cam-tay-mini-van-da-ca-sau-wal-0223-mau-kem-main__62423__1642677163-medium.jpg"
                                                        alt="Xem sản phẩm Ví Cầm Tay Mini Vân Da Cá Sấu - WAL 0223 - Màu Kem"
                                                        class="avatar before owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2022/January/20/vi-cam-tay-mini-van-da-ca-sau-wal-0223-mau-kem-main__62423__1642677163-medium.jpg"
                                                        style="opacity: 1;"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/January/20/vi-cam-tay-mini-van-da-ca-sau-wal-0223-mau-kem-1__62424__1642677178-medium@2x.jpg"
                                                        alt="Xem sản phẩm Ví Cầm Tay Mini Vân Da Cá Sấu - WAL 0223 - Màu Kem"
                                                        class="avatar after owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2022/January/20/vi-cam-tay-mini-van-da-ca-sau-wal-0223-mau-kem-1__62424__1642677178-medium@2x.jpg"
                                                        style="opacity: 1;">
                                                    <ul class="tem-inside">
                                                        <li class="bottom-right"><img
                                                                src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                                                alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <span class="price ">
                                                <ins><span class="amount">486.000</span><span
                                                        class="currency">đ</span></ins>
                                            </span>

                                            <h5 class="product-title"> <a href="#">Ví
                                                    Cầm Tay Mini Vân Da Cá Sấu</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 310.55px; margin-right: 10px;">
                                    <div class="item">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a href="#"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/April/6/giay-sandal-quai-ngang-hoa-tiet-ruong-bac-thang-got-van-go-sdn-0695-mau-be-main__63419__1649243062-medium.jpg"
                                                        alt="Xem sản phẩm Giày Sandal Quai Ngang Họa Tiết Ruộng Bậc Thang Gót Vân Gỗ - SDN 0695 - Màu Be"
                                                        class="avatar before owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2022/April/6/giay-sandal-quai-ngang-hoa-tiet-ruong-bac-thang-got-van-go-sdn-0695-mau-be-main__63419__1649243062-medium.jpg"
                                                        style="opacity: 1;"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/April/6/giay-sandal-quai-ngang-hoa-tiet-ruong-bac-thang-got-van-go-sdn-0695-mau-be-3__63420__1649243075-medium@2x.jpg"
                                                        alt="Xem sản phẩm Giày Sandal Quai Ngang Họa Tiết Ruộng Bậc Thang Gót Vân Gỗ - SDN 0695 - Màu Be"
                                                        class="avatar after owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2022/April/6/giay-sandal-quai-ngang-hoa-tiet-ruong-bac-thang-got-van-go-sdn-0695-mau-be-3__63420__1649243075-medium@2x.jpg"
                                                        style="opacity: 1;">
                                                    <ul class="tem-inside">
                                                        <li class="bottom-right"><img
                                                                src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                                                alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <span class="price ">
                                                <ins><span class="amount">584.000</span><span
                                                        class="currency">đ</span></ins>
                                            </span>

                                            <h5 class="product-title"> <a href="#">Giày
                                                    Sandal Quai Ngang Họa Tiết Ruộng Bậc Thang Gót Vân
                                                    Gỗ</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 310.55px; margin-right: 10px;">
                                    <div class="item">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a href="#"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/February/25/tui-may-chi-noi-herringbone-nap-gap-vien-metallic-sho-0178-mau-be-dam-main__63098__1645764035-medium.jpg"
                                                        alt="Xem sản phẩm Túi May Chỉ Nổi Herringbone Nắp Gập Viền Metallic - SHO 0178 - Màu Be Đậm"
                                                        class="avatar before owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2022/February/25/tui-may-chi-noi-herringbone-nap-gap-vien-metallic-sho-0178-mau-be-dam-main__63098__1645764035-medium.jpg"
                                                        style="opacity: 1;"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/February/25/tui-may-chi-noi-herringbone-nap-gap-vien-metallic-sho-0178-mau-be-dam-3__63099__1645764048-medium@2x.jpg"
                                                        alt="Xem sản phẩm Túi May Chỉ Nổi Herringbone Nắp Gập Viền Metallic - SHO 0178 - Màu Be Đậm"
                                                        class="avatar after owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2022/February/25/tui-may-chi-noi-herringbone-nap-gap-vien-metallic-sho-0178-mau-be-dam-3__63099__1645764048-medium@2x.jpg"
                                                        style="opacity: 1;">
                                                    <ul class="tem-inside">
                                                        <li class="bottom-right"><img
                                                                src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                                                alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <span class="price ">
                                                <ins><span class="amount">810.000</span><span
                                                        class="currency">đ</span></ins>
                                            </span>

                                            <h5 class="product-title"> <a href="#">Túi
                                                    May Chỉ Nổi Herringbone Nắp Gập Viền Metallic</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 310.55px; margin-right: 10px;">
                                    <div class="item">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a href="#"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/April/25/bmn-0519-blk--2-__63466__1650869912-medium.jpg"
                                                        alt="Xem sản phẩm Giày Slingback Mũi Vuông Gót Trụ - BMN 0519 - Màu đen"
                                                        class="avatar before owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2022/April/25/bmn-0519-blk--2-__63466__1650869912-medium.jpg"
                                                        style="opacity: 1;"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/April/25/bmn-0519-blk--1-__63467__1650869925-medium@2x.jpg"
                                                        alt="Xem sản phẩm Giày Slingback Mũi Vuông Gót Trụ - BMN 0519 - Màu đen"
                                                        class="avatar after owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2022/April/25/bmn-0519-blk--1-__63467__1650869925-medium@2x.jpg"
                                                        style="opacity: 1;">
                                                    <ul class="tem-inside">
                                                        <li class="bottom-right"><img
                                                                src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                                                alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <span class="price ">
                                                <ins><span class="amount">535.000</span><span
                                                        class="currency">đ</span></ins>
                                            </span>

                                            <h5 class="product-title"> <a href="#">Giày
                                                    Slingback Mũi Vuông Gót Trụ</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 310.55px; margin-right: 10px;">
                                    <div class="item">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a href="#"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/February/25/tui-deo-cheo-vien-chi-noi-van-da-ky-da-sho-0194-mau-xam-dam-main__63118__1645770002-medium.jpg"
                                                        alt="Xem sản phẩm Túi Đeo Chéo Viền Chỉ Nổi Vân Da Kỳ Đà - SHO 0194 - Màu Xám Đậm"
                                                        class="avatar before owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2022/February/25/tui-deo-cheo-vien-chi-noi-van-da-ky-da-sho-0194-mau-xam-dam-main__63118__1645770002-medium.jpg"
                                                        style="opacity: 1;"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/March/9/tui-deo-cheo-vien-chi-noi-van-da-ky-da-sho-0194-mau-xam-dam-photodetail-2__63201__1646814093-medium@2x.jpg"
                                                        alt="Xem sản phẩm Túi Đeo Chéo Viền Chỉ Nổi Vân Da Kỳ Đà - SHO 0194 - Màu Xám Đậm"
                                                        class="avatar after owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2022/March/9/tui-deo-cheo-vien-chi-noi-van-da-ky-da-sho-0194-mau-xam-dam-photodetail-2__63201__1646814093-medium@2x.jpg"
                                                        style="opacity: 1;">
                                                    <ul class="tem-inside">
                                                        <li class="bottom-right"><img
                                                                src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                                                alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <span class="price ">
                                                <ins><span class="amount">859.000</span><span
                                                        class="currency">đ</span></ins>
                                            </span>

                                            <h5 class="product-title"> <a href="#">Túi
                                                    Đeo Chéo Viền Chỉ Nổi Vân Da Kỳ Đà</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 310.55px; margin-right: 10px;">
                                    <div class="item">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a href="#"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/March/30/dep-quai-kep-dxp-0172-mau-xanh-navy-main__63353__1648628712-medium.jpg"
                                                        alt="Xem sản phẩm Dép Quai Kẹp - DXP 0172 - Màu Xanh Navy"
                                                        class="avatar before owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2022/March/30/dep-quai-kep-dxp-0172-mau-xanh-navy-main__63353__1648628712-medium.jpg"
                                                        style="opacity: 1;"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/March/30/dep-quai-kep-dxp-0172-mau-xanh-navy-3__63354__1648628724-medium@2x.jpg"
                                                        alt="Xem sản phẩm Dép Quai Kẹp - DXP 0172 - Màu Xanh Navy"
                                                        class="avatar after owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2022/March/30/dep-quai-kep-dxp-0172-mau-xanh-navy-3__63354__1648628724-medium@2x.jpg"
                                                        style="opacity: 1;">
                                                    <ul class="tem-inside">
                                                        <li class="bottom-right"><img
                                                                src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                                                alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <span class="price ">
                                                <ins><span class="amount">339.000</span><span
                                                        class="currency">đ</span></ins>
                                            </span>

                                            <h5 class="product-title"> <a href="#">Dép
                                                    Quai Kẹp</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 310.55px; margin-right: 10px;">
                                    <div class="item">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a href="#"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/February/25/vi-cam-tay-mini-crescent-phoi-van-soc-wal-0225-mau-den-main__63173__1645771942-medium.jpg"
                                                        alt="Xem sản phẩm Ví Cầm Tay Mini Crescent Phối Vân Sọc - WAL 0225 - Màu Đen"
                                                        class="avatar before owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2022/February/25/vi-cam-tay-mini-crescent-phoi-van-soc-wal-0225-mau-den-main__63173__1645771942-medium.jpg"
                                                        style="opacity: 1;"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/February/25/vi-cam-tay-mini-crescent-phoi-van-soc-wal-0225-mau-den-3__63174__1645771955-medium@2x.jpg"
                                                        alt="Xem sản phẩm Ví Cầm Tay Mini Crescent Phối Vân Sọc - WAL 0225 - Màu Đen"
                                                        class="avatar after owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2022/February/25/vi-cam-tay-mini-crescent-phoi-van-soc-wal-0225-mau-den-3__63174__1645771955-medium@2x.jpg"
                                                        style="opacity: 1;">
                                                    <ul class="tem-inside">
                                                        <li class="bottom-right"><img
                                                                src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                                                alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <span class="price ">
                                                <ins><span class="amount">486.000</span><span
                                                        class="currency">đ</span></ins>
                                            </span>

                                            <h5 class="product-title"> <a href="#">Ví
                                                    Cầm Tay Mini Crescent Phối Vân Sọc</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- <div class="owl-nav">
                            <div class="owl-prev disabled" data-slide="prev"><img src="/prev.png"></div>
                            <div class="owl-next" data-slide="next"><img src="/next.png"></div>
                        </div>

                        <div class="owl-dots">
                            <div class="owl-dot active"><span></span></div>
                            <div class="owl-dot"><span></span></div>
                            <div class="owl-dot"><span></span></div>
                        </div> --}}
                    </div>
                </div>
            </div>
        </div>
        <div class="view mobi"><a href="#" class="view-all">Xem tất cả</a></div>
    </div>
</div>