<div class="block">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="title-block">

                    SẢN PHẨM KHUYẾN MÃI<a href="#" class="pc view-all">Xem tất cả</a>
                </div>
            </div>
        </div>
    </div>
    <div class="slide-product">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-slide owl-carousel owl-loaded owl-drag">


                        <div class="owl-stage-outer">
                            <div class="owl-stage"
                                style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 3867px;">
                                <div class="owl-item active" style="width: 310.55px; margin-right: 10px;">
                                    <div class="item">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a href="#"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2021/October/15/giay-cao-got-mui-nhon-sang-trong-bmn-0490-mau-nau-main__61001__1634282950-medium.jpg"
                                                        alt="Xem sản phẩm Giày Cao Gót Mũi Nhọn Sang Trọng - BMN 0490 - Màu Nâu"
                                                        class="avatar before owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2021/October/15/giay-cao-got-mui-nhon-sang-trong-bmn-0490-mau-nau-main__61001__1634282950-medium.jpg"
                                                        style="opacity: 1;"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2021/October/15/giay-cao-got-mui-nhon-sang-trong-bmn-0490-mau-nau-3__61002__1634282962-medium@2x.jpg"
                                                        alt="Xem sản phẩm Giày Cao Gót Mũi Nhọn Sang Trọng - BMN 0490 - Màu Nâu"
                                                        class="avatar after owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2021/October/15/giay-cao-got-mui-nhon-sang-trong-bmn-0490-mau-nau-3__61002__1634282962-medium@2x.jpg"
                                                        style="opacity: 1;">
                                                    <ul class="tem-inside">
                                                        <li class="bottom-right"><img
                                                                src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                                                alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <span class="price sale">
                                                <ins><span class="amount">452.000</span><span
                                                        class="currency">đ</span></ins>
                                                <del><span class="amount">565.000</span><span
                                                        class="currency">đ</span></del>
                                            </span>

                                            <h5 class="product-title"> <a href="#">Giày
                                                    Cao Gót Mũi Nhọn Sang Trọng</a></h5>
                                            <ul class="product-tem">
                                                <li class="percent-discount">-20%</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 310.55px; margin-right: 10px;">
                                    <div class="item">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a href="#"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2021/October/14/tui-xach-tay-van-da-ca-sau-quai-cam-kim-loai-sat-0287-mau-nau-main__60884__1634200019-medium.jpg"
                                                        alt="Xem sản phẩm Túi Xách Tay Vân Da Cá Sấu Quai Cầm Kim Loại - SAT 0287 - Màu Nâu"
                                                        class="avatar before owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2021/October/14/tui-xach-tay-van-da-ca-sau-quai-cam-kim-loai-sat-0287-mau-nau-main__60884__1634200019-medium.jpg"
                                                        style="opacity: 1;"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2021/October/14/tui-xach-tay-van-da-ca-sau-quai-cam-kim-loai-sat-0287-mau-nau-photodetail__60888__1634200182-medium@2x.jpg"
                                                        alt="Xem sản phẩm Túi Xách Tay Vân Da Cá Sấu Quai Cầm Kim Loại - SAT 0287 - Màu Nâu"
                                                        class="avatar after owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2021/October/14/tui-xach-tay-van-da-ca-sau-quai-cam-kim-loai-sat-0287-mau-nau-photodetail__60888__1634200182-medium@2x.jpg"
                                                        style="opacity: 1;">
                                                    <ul class="tem-inside">
                                                        <li class="bottom-right"><img
                                                                src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                                                alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <span class="price sale">
                                                <ins><span class="amount">860.000</span><span
                                                        class="currency">đ</span></ins>
                                                <del><span class="amount">1.075.000</span><span
                                                        class="currency">đ</span></del>
                                            </span>

                                            <h5 class="product-title"> <a href="#">Túi
                                                    Xách Tay Vân Da Cá Sấu Quai Cầm Kim Loại</a></h5>
                                            <ul class="product-tem">
                                                <li class="percent-discount">-20%</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 310.55px; margin-right: 10px;">
                                    <div class="item">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a href="#"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2021/November/30/giay-cao-got-bit-mui-nhon-quy-phai-bmn-0501-mau-hong-dam-main__61491__1638266671-medium.jpg"
                                                        alt="Xem sản phẩm Giày Cao Gót Bít Mũi Nhọn Quý Phái - BMN 0501 - Màu Hồng Đậm"
                                                        class="avatar before owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2021/November/30/giay-cao-got-bit-mui-nhon-quy-phai-bmn-0501-mau-hong-dam-main__61491__1638266671-medium.jpg"
                                                        style="opacity: 1;"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2021/December/3/giay-cao-got-bit-mui-nhon-quy-phai-bmn-0501-mau-hong-dam-photodetail-2__61812__1638547009-medium@2x.jpg"
                                                        alt="Xem sản phẩm Giày Cao Gót Bít Mũi Nhọn Quý Phái - BMN 0501 - Màu Hồng Đậm"
                                                        class="avatar after owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2021/December/3/giay-cao-got-bit-mui-nhon-quy-phai-bmn-0501-mau-hong-dam-photodetail-2__61812__1638547009-medium@2x.jpg"
                                                        style="opacity: 1;">
                                                    <ul class="tem-inside">
                                                        <li class="bottom-right"><img
                                                                src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                                                alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <span class="price sale">
                                                <ins><span class="amount">395.500</span><span
                                                        class="currency">đ</span></ins>
                                                <del><span class="amount">565.000</span><span
                                                        class="currency">đ</span></del>
                                            </span>

                                            <h5 class="product-title"> <a href="#">Giày
                                                    Cao Gót Bít Mũi Nhọn Quý Phái</a></h5>
                                            <ul class="product-tem">
                                                <li class="percent-discount">-30%</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 310.55px; margin-right: 10px;">
                                    <div class="item">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a href="#"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2021/October/15/vi-cam-tay-nap-gap-dang-dai-wal-0213-mau-hong-main__60988__1634281957-medium.jpg"
                                                        alt="Xem sản phẩm Ví Cầm Tay Nắp Gập Dáng Dài - WAL 0213 - Màu Hồng"
                                                        class="avatar before owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2021/October/15/vi-cam-tay-nap-gap-dang-dai-wal-0213-mau-hong-main__60988__1634281957-medium.jpg"
                                                        style="opacity: 1;"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2021/October/15/vi-cam-tay-nap-gap-dang-dai-wal-0213-mau-hong-1__60989__1634281973-medium@2x.jpg"
                                                        alt="Xem sản phẩm Ví Cầm Tay Nắp Gập Dáng Dài - WAL 0213 - Màu Hồng"
                                                        class="avatar after owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2021/October/15/vi-cam-tay-nap-gap-dang-dai-wal-0213-mau-hong-1__60989__1634281973-medium@2x.jpg"
                                                        style="opacity: 1;">
                                                    <ul class="tem-inside">
                                                        <li class="bottom-right"><img
                                                                src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                                                alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <span class="price sale">
                                                <ins><span class="amount">374.500</span><span
                                                        class="currency">đ</span></ins>
                                                <del><span class="amount">535.000</span><span
                                                        class="currency">đ</span></del>
                                            </span>

                                            <h5 class="product-title"> <a href="#">Ví
                                                    Cầm Tay Nắp Gập Dáng Dài</a></h5>
                                            <ul class="product-tem">
                                                <li class="percent-discount">-30%</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 310.55px; margin-right: 10px;">
                                    <div class="item">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a href="#"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2021/October/14/giay-sneaker-got-vien-metallic-snk-0041-mau-be-main__60965__1634206003-medium.jpg"
                                                        alt="Xem sản phẩm Giày Sneaker Gót Viền Metallic - SNK 0041 - Màu Be"
                                                        class="avatar before owl-lazy"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2021/October/14/giay-sneaker-got-vien-metallic-snk-0041-mau-be-5__60966__1634206017-medium@2x.jpg"
                                                        alt="Xem sản phẩm Giày Sneaker Gót Viền Metallic - SNK 0041 - Màu Be"
                                                        class="avatar after owl-lazy">
                                                    <ul class="tem-inside">
                                                        <li class="bottom-right"><img
                                                                src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                                                alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <span class="price sale">
                                                <ins><span class="amount">468.600</span><span
                                                        class="currency">đ</span></ins>
                                                <del><span class="amount">781.000</span><span
                                                        class="currency">đ</span></del>
                                            </span>

                                            <h5 class="product-title"> <a href="#">Giày
                                                    Sneaker Gót Viền Metallic</a></h5>
                                            <ul class="product-tem">
                                                <li class="percent-discount">-40%</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 310.55px; margin-right: 10px;">
                                    <div class="item">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a href="#"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2021/October/15/tui-deo-cheo-ban-nguyet-hoa-tiet-ruong-bac-thang-sho-0186-mau-nau-main__61137__1634293783-medium.jpg"
                                                        alt="Xem sản phẩm Túi Đeo Chéo Bán Nguyệt Họa Tiết Ruộng Bậc Thang - SHO 0186 - Màu Nâu"
                                                        class="avatar before owl-lazy"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2021/October/15/tui-deo-cheo-ban-nguyet-hoa-tiet-ruong-bac-thang-sho-0186-mau-nau-3__61138__1634293799-medium@2x.jpg"
                                                        alt="Xem sản phẩm Túi Đeo Chéo Bán Nguyệt Họa Tiết Ruộng Bậc Thang - SHO 0186 - Màu Nâu"
                                                        class="avatar after owl-lazy">
                                                    <ul class="tem-inside">
                                                        <li class="bottom-right"><img
                                                                src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                                                alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <span class="price sale">
                                                <ins><span class="amount">581.000</span><span
                                                        class="currency">đ</span></ins>
                                                <del><span class="amount">830.000</span><span
                                                        class="currency">đ</span></del>
                                            </span>

                                            <h5 class="product-title"> <a href="#">Túi
                                                    Đeo Chéo Bán Nguyệt Họa Tiết Ruộng Bậc Thang</a></h5>
                                            <ul class="product-tem">
                                                <li class="percent-discount">-30%</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 310.55px; margin-right: 10px;">
                                    <div class="item">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a href="#"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2021/December/31/giay-cao-got-bit-mui-nhon-quyen-ru-bmn-0534-mau-do-dam-main__62063__1640922382-medium.jpg"
                                                        alt="Xem sản phẩm Giày Cao Gót Leather Mũi Nhọn - BMN 0534 - Màu Đỏ Đậm"
                                                        class="avatar before owl-lazy"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2021/December/31/giay-cao-got-bit-mui-nhon-quyen-ru-bmn-0534-mau-do-dam-3__62064__1640922395-medium@2x.jpg"
                                                        alt="Xem sản phẩm Giày Cao Gót Leather Mũi Nhọn - BMN 0534 - Màu Đỏ Đậm"
                                                        class="avatar after owl-lazy">
                                                    <ul class="tem-inside">
                                                        <li class="bottom-right"><img
                                                                src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                                                alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <span class="price sale">
                                                <ins><span class="amount">823.900</span><span
                                                        class="currency">đ</span></ins>
                                                <del><span class="amount">1.177.000</span><span
                                                        class="currency">đ</span></del>
                                            </span>

                                            <h5 class="product-title"> <a href="#">Giày
                                                    Cao Gót Leather Mũi Nhọn</a></h5>
                                            <ul class="product-tem">
                                                <li class="percent-discount">-30%</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 310.55px; margin-right: 10px;">
                                    <div class="item">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a href="#"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2019/October/31/49925_1572512387-medium.jpg"
                                                        alt="Xem sản phẩm Balo Mini Quai Đôi Phối Màu - BAC 0119 - Màu Hồng Đậm"
                                                        class="avatar before owl-lazy"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2019/October/31/49928_1572512430-medium@2x.jpg"
                                                        alt="Xem sản phẩm Balo Mini Quai Đôi Phối Màu - BAC 0119 - Màu Hồng Đậm"
                                                        class="avatar after owl-lazy">
                                                    <ul class="tem-inside">
                                                        <li class="bottom-right"><img
                                                                src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                                                alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <span class="price sale">
                                                <ins><span class="amount">405.000</span><span
                                                        class="currency">đ</span></ins>
                                                <del><span class="amount">810.000</span><span
                                                        class="currency">đ</span></del>
                                            </span>

                                            <h5 class="product-title"> <a href="#">Balo
                                                    Mini Quai Đôi Phối Màu</a></h5>
                                            <ul class="product-tem">
                                                <li class="percent-discount">-50%</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 310.55px; margin-right: 10px;">
                                    <div class="item">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a href="#"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2021/July/14/giay-sandal-quai-manh-dan-no-van-da-ky-da-sdn-0696-mau-bac-main__60569__1626252584-medium.jpg"
                                                        alt="Xem sản phẩm Giày Sandal Quai Mảnh Đan Nơ Vân Da Kỳ Đà - SDN 0696 - Màu Bạc"
                                                        class="avatar before owl-lazy"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2021/July/14/giay-sandal-quai-manh-dan-no-van-da-ky-da-sdn-0696-mau-bac-3__60570__1626252597-medium@2x.jpg"
                                                        alt="Xem sản phẩm Giày Sandal Quai Mảnh Đan Nơ Vân Da Kỳ Đà - SDN 0696 - Màu Bạc"
                                                        class="avatar after owl-lazy">
                                                    <ul class="tem-inside">
                                                        <li class="bottom-right"><img
                                                                src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                                                alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <span class="price sale">
                                                <ins><span class="amount">379.800</span><span
                                                        class="currency">đ</span></ins>
                                                <del><span class="amount">633.000</span><span
                                                        class="currency">đ</span></del>
                                            </span>

                                            <h5 class="product-title"> <a href="#">Giày
                                                    Sandal Quai Mảnh Đan Nơ Vân Da Kỳ Đà</a></h5>
                                            <ul class="product-tem">
                                                <li class="percent-discount">-40%</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 310.55px; margin-right: 10px;">
                                    <div class="item">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a href="#"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2021/June/30/tui-xach-tay-bucket-phoi-da-sat-0283-mau-xam-nhat-main__60441__1625068915-medium.jpg"
                                                        alt="Xem sản phẩm Túi Xách Tay Bucket Phối Da - SAT 0283 - Màu Xám Nhạt"
                                                        class="avatar before owl-lazy"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2021/June/30/tui-xach-tay-bucket-phoi-da-sat-0283-mau-xam-nhat-3__60442__1625068931-medium@2x.jpg"
                                                        alt="Xem sản phẩm Túi Xách Tay Bucket Phối Da - SAT 0283 - Màu Xám Nhạt"
                                                        class="avatar after owl-lazy">
                                                    <ul class="tem-inside">
                                                        <li class="bottom-right"><img
                                                                src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                                                alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <span class="price sale">
                                                <ins><span class="amount">532.700</span><span
                                                        class="currency">đ</span></ins>
                                                <del><span class="amount">761.000</span><span
                                                        class="currency">đ</span></del>
                                            </span>

                                            <h5 class="product-title"> <a href="#">Túi
                                                    Xách Tay Bucket Phối Da</a></h5>
                                            <ul class="product-tem">
                                                <li class="percent-discount">-30%</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 310.55px; margin-right: 10px;">
                                    <div class="item">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a href="#"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2021/October/14/giay-bit-mui-nhon-got-vuong-phoi-van-da-ran-bmn-0481-mau-den-main__60934__1634204766-medium.jpg"
                                                        alt="Xem sản phẩm Giày Bít Mũi Nhọn Gót Vuông Phối Vân Da Rắn - BMN 0481 - Màu Đen"
                                                        class="avatar before owl-lazy"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2021/October/14/giay-bit-mui-nhon-got-vuong-phoi-van-da-ran-bmn-0481-mau-den-4__60935__1634204778-medium@2x.jpg"
                                                        alt="Xem sản phẩm Giày Bít Mũi Nhọn Gót Vuông Phối Vân Da Rắn - BMN 0481 - Màu Đen"
                                                        class="avatar after owl-lazy">
                                                    <ul class="tem-inside">
                                                        <li class="bottom-right"><img
                                                                src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                                                alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <span class="price sale">
                                                <ins><span class="amount">452.000</span><span
                                                        class="currency">đ</span></ins>
                                                <del><span class="amount">565.000</span><span
                                                        class="currency">đ</span></del>
                                            </span>

                                            <h5 class="product-title"> <a href="#">Giày
                                                    Bít Mũi Nhọn Gót Vuông Phối Vân Da Rắn</a></h5>
                                            <ul class="product-tem">
                                                <li class="percent-discount">-20%</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 310.55px; margin-right: 10px;">
                                    <div class="item">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a href="#"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2021/March/5/tui-xach-phoi-da-nubuck-day-hop-sat-0276-mau-den-main__59200__1614935488-medium.jpg"
                                                        alt="Xem sản phẩm Túi Xách Phối Da Nubuck Đáy Hộp - SAT 0276 - Màu Đen"
                                                        class="avatar before owl-lazy"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2021/March/5/tui-xach-phoi-da-nubuck-day-hop-sat-0276-mau-den-2__59202__1614935517-medium@2x.jpg"
                                                        alt="Xem sản phẩm Túi Xách Phối Da Nubuck Đáy Hộp - SAT 0276 - Màu Đen"
                                                        class="avatar after owl-lazy">
                                                    <ul class="tem-inside">
                                                        <li class="bottom-right"><img
                                                                src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                                                alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <span class="price sale">
                                                <ins><span class="amount">703.800</span><span
                                                        class="currency">đ</span></ins>
                                                <del><span class="amount">1.173.000</span><span
                                                        class="currency">đ</span></del>
                                            </span>

                                            <h5 class="product-title"> <a href="#">Túi
                                                    Xách Phối Da Nubuck Đáy Hộp</a></h5>
                                            <ul class="product-tem">
                                                <li class="percent-discount">-40%</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="owl-nav">
                                        <div class="owl-prev disabled"><img src="/prev.png"></div>
                                        <div class="owl-next"><img src="/next.png"></div>
                                    </div>
                                    <div class="owl-dots">
                                        <div class="owl-dot active"><span></span></div>
                                        <div class="owl-dot"><span></span></div>
                                        <div class="owl-dot"><span></span></div>
                                    </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="view mobi"><a href="#" class="view-all">Xem tất
                cả</a></div>
    </div>
</div>