<div class="block">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="title-block">

                    SẢN PHẨM BÁN CHẠY<a href="https://www.vascara.com/best-sale?src=bestsale-homepage"
                        class="pc view-all">Xem tất cả</a>
                </div>
            </div>
        </div>
    </div>
    <div class="slide-product">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-slide owl-carousel owl-loaded owl-drag">

                        <div class="owl-stage-outer">
                            <div class="owl-stage"
                                style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 3907px;">
                                <div class="owl-item active" style="width: 295.55px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a
                                                    href="https://www.vascara.com/giay-cao-got/giay-ankle-strap-satin-quai-dinh-da-phoi-xich-bmn-0522-mau-do"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/March/30/giay-ankle-strap-satin-quai-dinh-da-phoi-xich-bmn-0522-mau-do-main__63388__1648630818-medium.jpg"
                                                        alt="Xem sản phẩm Giày Ankle Strap Satin Quai Đính Đá Phối Xích - BMN 0522 - Màu Đỏ"
                                                        class="avatar before owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2022/March/30/giay-ankle-strap-satin-quai-dinh-da-phoi-xich-bmn-0522-mau-do-main__63388__1648630818-medium.jpg"
                                                        style="opacity: 1;"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/March/30/giay-ankle-strap-satin-quai-dinh-da-phoi-xich-bmn-0522-mau-do-3__63389__1648630838-medium@2x.jpg"
                                                        alt="Xem sản phẩm Giày Ankle Strap Satin Quai Đính Đá Phối Xích - BMN 0522 - Màu Đỏ"
                                                        class="avatar after owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2022/March/30/giay-ankle-strap-satin-quai-dinh-da-phoi-xich-bmn-0522-mau-do-3__63389__1648630838-medium@2x.jpg"
                                                        style="opacity: 1;">
                                                    <ul class="tem-inside">
                                                        <li class="bottom-right"><img
                                                                src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                                                alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <span class="price ">
                                                <ins><span class="amount">633.000</span><span
                                                        class="currency">đ</span></ins>
                                            </span>

                                            <h5 class="product-title"> <a
                                                    href="https://www.vascara.com/giay-cao-got/giay-ankle-strap-satin-quai-dinh-da-phoi-xich-bmn-0522-mau-do">Giày
                                                    Ankle Strap Satin Quai Đính Đá Phối Xích</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 295.55px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a
                                                    href="https://www.vascara.com/tui-xach-tay/tui-tote-khoa-xoay-oval-ngan-doi-tot-0080-mau-do"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/May/31/tot-0080-red--1-__64094__1654015247-medium.jpg"
                                                        alt="Xem sản phẩm Túi Tote Khóa Xoay Oval Ngăn Đôi - TOT 0080 - Màu Đỏ"
                                                        class="avatar before owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2022/May/31/tot-0080-red--1-__64094__1654015247-medium.jpg"
                                                        style="opacity: 1;"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/May/31/tot-0080-red--4-__64095__1654015262-medium@2x.jpg"
                                                        alt="Xem sản phẩm Túi Tote Khóa Xoay Oval Ngăn Đôi - TOT 0080 - Màu Đỏ"
                                                        class="avatar after owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2022/May/31/tot-0080-red--4-__64095__1654015262-medium@2x.jpg"
                                                        style="opacity: 1;">
                                                    <ul class="tem-inside">
                                                        <li class="bottom-right"><img
                                                                src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                                                alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <span class="price ">
                                                <ins><span class="amount">894.000</span><span
                                                        class="currency">đ</span></ins>
                                            </span>

                                            <h5 class="product-title"> <a
                                                    href="https://www.vascara.com/tui-xach-tay/tui-tote-khoa-xoay-oval-ngan-doi-tot-0080-mau-do">Túi
                                                    Tote Khóa Xoay Oval Ngăn Đôi</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 295.55px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a
                                                    href="https://www.vascara.com/dep-guoc/dep-quai-kep-got-phoi-hoa-tiet-ngua-van-dxp-0171-mau-trang"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/April/30/dxp-0171-wht--5-__63562__1651320484-medium.jpg"
                                                        alt="Xem sản phẩm Dép Quai Kẹp Gót Phối Họa Tiết Ngựa Vằn - DXP 0171 - Màu Trắng"
                                                        class="avatar before owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2022/April/30/dxp-0171-wht--5-__63562__1651320484-medium.jpg"
                                                        style="opacity: 1;"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/April/30/dxp-0171-wht--1-__63563__1651320502-medium@2x.jpg"
                                                        alt="Xem sản phẩm Dép Quai Kẹp Gót Phối Họa Tiết Ngựa Vằn - DXP 0171 - Màu Trắng"
                                                        class="avatar after owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2022/April/30/dxp-0171-wht--1-__63563__1651320502-medium@2x.jpg"
                                                        style="opacity: 1;">
                                                    <ul class="tem-inside">
                                                        <li class="bottom-right"><img
                                                                src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                                                alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <span class="price ">
                                                <ins><span class="amount">404.000</span><span
                                                        class="currency">đ</span></ins>
                                            </span>

                                            <h5 class="product-title"> <a
                                                    href="https://www.vascara.com/dep-guoc/dep-quai-kep-got-phoi-hoa-tiet-ngua-van-dxp-0171-mau-trang">Dép
                                                    Quai Kẹp Gót Phối Họa Tiết Ngựa Vằn</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 295.55px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a
                                                    href="https://www.vascara.com/tui-deo-cheo/tui-may-chi-noi-herringbone-nap-gap-vien-metallic-sho-0178-mau-trang"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/March/17/tui-may-chi-noi-herringbone-nap-gap-vien-metallic-sho-0178-mau-trang-main__63226__1647510918-medium.jpg"
                                                        alt="Xem sản phẩm Túi May Chỉ Nổi Herringbone Nắp Gập Viền Metallic - SHO 0178 - Màu Trắng"
                                                        class="avatar before owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2022/March/17/tui-may-chi-noi-herringbone-nap-gap-vien-metallic-sho-0178-mau-trang-main__63226__1647510918-medium.jpg"
                                                        style="opacity: 1;"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/March/17/tui-may-chi-noi-herringbone-nap-gap-vien-metallic-sho-0178-mau-trang-3__63227__1647510931-medium@2x.jpg"
                                                        alt="Xem sản phẩm Túi May Chỉ Nổi Herringbone Nắp Gập Viền Metallic - SHO 0178 - Màu Trắng"
                                                        class="avatar after owl-lazy"
                                                        src="https://www.vascara.com/uploads/cms_productmedia/2022/March/17/tui-may-chi-noi-herringbone-nap-gap-vien-metallic-sho-0178-mau-trang-3__63227__1647510931-medium@2x.jpg"
                                                        style="opacity: 1;">
                                                    <ul class="tem-inside">
                                                        <li class="bottom-right"><img
                                                                src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                                                alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <span class="price ">
                                                <ins><span class="amount">810.000</span><span
                                                        class="currency">đ</span></ins>
                                            </span>

                                            <h5 class="product-title"> <a
                                                    href="https://www.vascara.com/tui-deo-cheo/tui-may-chi-noi-herringbone-nap-gap-vien-metallic-sho-0178-mau-trang">Túi
                                                    May Chỉ Nổi Herringbone Nắp Gập Viền Metallic</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 295.55px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a
                                                    href="https://www.vascara.com/giay-bup-be/giay-bit-mui-nhon-dinh-khoa-tron-nubuck-gbb-0423-mau-nau-sang"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/February/25/giay-bit-mui-nhon-dinh-khoa-tron-nubuck-gbb-0423-mau-nau-sang-main__63043__1645760932-medium.jpg"
                                                        alt="Xem sản phẩm Giày Bít Mũi Nhọn Đính Khóa Tròn Nubuck - GBB 0423 - Màu Nâu Sáng"
                                                        class="avatar before owl-lazy"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/February/25/giay-bit-mui-nhon-dinh-khoa-tron-nubuck-gbb-0423-mau-nau-sang-3__63044__1645760947-medium@2x.jpg"
                                                        alt="Xem sản phẩm Giày Bít Mũi Nhọn Đính Khóa Tròn Nubuck - GBB 0423 - Màu Nâu Sáng"
                                                        class="avatar after owl-lazy">
                                                    <ul class="tem-inside">
                                                        <li class="bottom-right"><img
                                                                src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                                                alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <span class="price ">
                                                <ins><span class="amount">535.000</span><span
                                                        class="currency">đ</span></ins>
                                            </span>

                                            <h5 class="product-title"> <a
                                                    href="https://www.vascara.com/giay-bup-be/giay-bit-mui-nhon-dinh-khoa-tron-nubuck-gbb-0423-mau-nau-sang">Giày
                                                    Bít Mũi Nhọn Đính Khóa Tròn Nubuck</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 295.55px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a
                                                    href="https://www.vascara.com/balo/balo-mini-vai-du-phoi-da-bac-0149-mau-cam"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2021/July/31/balo-mini-vai-du-phoi-da-bac-0149-mau-cam-main__60465__1625070970__60662__1627717711-medium.jpg"
                                                        alt="Xem sản phẩm Balo Mini Vải Dù Phối Da - BAC 0149 - Màu Cam"
                                                        class="avatar before owl-lazy"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2021/July/31/balo-mini-vai-du-phoi-da-bac-0149-mau-cam-3__60466__1625070988__60663__1627717723-medium@2x.jpg"
                                                        alt="Xem sản phẩm Balo Mini Vải Dù Phối Da - BAC 0149 - Màu Cam"
                                                        class="avatar after owl-lazy">
                                                    <ul class="tem-inside">
                                                        <li class="bottom-right"><img
                                                                src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                                                alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <span class="price sale">
                                                <ins><span class="amount">581.000</span><span
                                                        class="currency">đ</span></ins>
                                                <del><span class="amount">830.000</span><span
                                                        class="currency">đ</span></del>
                                            </span>

                                            <h5 class="product-title"> <a
                                                    href="https://www.vascara.com/balo/balo-mini-vai-du-phoi-da-bac-0149-mau-cam">Balo
                                                    Mini Vải Dù Phối Da</a></h5>
                                            <ul class="product-tem">
                                                <li class="percent-discount">-30%</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 295.55px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a
                                                    href="https://www.vascara.com/giay-cao-got/giay-bit-mui-nhon-thanh-lich-bmn-0512-mau-nau-sang"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2021/November/5/giay-bit-mui-nhon-thanh-lich-bmn-0512-mau-nau-sang-main__61285__1636108027-medium.jpg"
                                                        alt="Xem sản phẩm Giày Bít Mũi Nhọn Thanh Lịch - BMN 0512 - Màu Nâu Sáng"
                                                        class="avatar before owl-lazy"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2021/November/5/giay-bit-mui-nhon-thanh-lich-bmn-0512-mau-nau-sang-4__61286__1636108040-medium@2x.jpg"
                                                        alt="Xem sản phẩm Giày Bít Mũi Nhọn Thanh Lịch - BMN 0512 - Màu Nâu Sáng"
                                                        class="avatar after owl-lazy">
                                                    <ul class="tem-inside">
                                                        <li class="bottom-right"><img
                                                                src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                                                alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <span class="price sale">
                                                <ins><span class="amount">395.500</span><span
                                                        class="currency">đ</span></ins>
                                                <del><span class="amount">565.000</span><span
                                                        class="currency">đ</span></del>
                                            </span>

                                            <h5 class="product-title"> <a
                                                    href="https://www.vascara.com/giay-cao-got/giay-bit-mui-nhon-thanh-lich-bmn-0512-mau-nau-sang">Giày
                                                    Bít Mũi Nhọn Thanh Lịch</a></h5>
                                            <ul class="product-tem">
                                                <li class="percent-discount">-30%</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 295.55px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a
                                                    href="https://www.vascara.com/vi-cam-tay/vi-cam-tay-khoa-kim-loai-hinh-no-nhieu-ngan-wal-0227-mau-cam"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/May/13/wal-0227-org--4--1-__63770__1652413752-medium.jpg"
                                                        alt="Xem sản phẩm Ví Cầm Tay Khóa Kim Loại Hình Nơ Nhiều Ngăn - WAL 0227 - Màu Cam"
                                                        class="avatar before owl-lazy"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/May/13/wal-0227-org--1--1-__63771__1652413774-medium@2x.jpg"
                                                        alt="Xem sản phẩm Ví Cầm Tay Khóa Kim Loại Hình Nơ Nhiều Ngăn - WAL 0227 - Màu Cam"
                                                        class="avatar after owl-lazy">
                                                    <ul class="tem-inside">
                                                        <li class="bottom-right"><img
                                                                src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                                                alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <span class="price ">
                                                <ins><span class="amount">604.000</span><span
                                                        class="currency">đ</span></ins>
                                            </span>

                                            <h5 class="product-title"> <a
                                                    href="https://www.vascara.com/vi-cam-tay/vi-cam-tay-khoa-kim-loai-hinh-no-nhieu-ngan-wal-0227-mau-cam">Ví
                                                    Cầm Tay Khóa Kim Loại Hình Nơ Nhiều Ngăn</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 295.55px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a
                                                    href="https://www.vascara.com/giay-cao-got/giay-cao-got-mui-nhon-van-da-ran-phoi-metallic-bmn-0479-mau-xam"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2021/July/14/giay-cao-got-mui-nhon-van-da-ran-phoi-metallic-bmn-0479-mau-xam-main__60549__1626251268-medium.jpg"
                                                        alt="Xem sản phẩm Giày Cao Gót Mũi Nhọn Vân Da Rắn Phối Metallic - BMN 0479 - Màu Xám"
                                                        class="avatar before owl-lazy"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2021/October/11/giay-cao-got-mui-nhon-van-da-ran-phoi-metallic-bmn-0479-mau-xam-4__60854__1633943379-medium@2x.jpg"
                                                        alt="Xem sản phẩm Giày Cao Gót Mũi Nhọn Vân Da Rắn Phối Metallic - BMN 0479 - Màu Xám"
                                                        class="avatar after owl-lazy">
                                                    <ul class="tem-inside">
                                                        <li class="bottom-right"><img
                                                                src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                                                alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <span class="price sale">
                                                <ins><span class="amount">379.800</span><span
                                                        class="currency">đ</span></ins>
                                                <del><span class="amount">633.000</span><span
                                                        class="currency">đ</span></del>
                                            </span>

                                            <h5 class="product-title"> <a
                                                    href="https://www.vascara.com/giay-cao-got/giay-cao-got-mui-nhon-van-da-ran-phoi-metallic-bmn-0479-mau-xam">Giày
                                                    Cao Gót Mũi Nhọn Vân Da Rắn Phối Metallic</a></h5>
                                            <ul class="product-tem">
                                                <li class="percent-discount">-40%</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 295.55px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a
                                                    href="https://www.vascara.com/vi-du-tiec/vi-du-tiec-metallic-dinh-khoa-tron-kim-loai-clu-0090-mau-xam-khoi-dam"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2021/July/15/vi-du-tiec-metallic-dinh-khoa-tron-kim-loai-clu-0090-mau-xam-khoi-dam-main__60624__1626350319-medium.jpg"
                                                        alt="Xem sản phẩm Ví Dự Tiệc Metallic Đính Khóa Tròn Kim Loại - CLU 0090 - Màu Xám Khói Đậm"
                                                        class="avatar before owl-lazy"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2021/July/15/vi-du-tiec-metallic-dinh-khoa-tron-kim-loai-clu-0090-mau-xam-khoi-dam-1__60625__1626350333-medium@2x.jpg"
                                                        alt="Xem sản phẩm Ví Dự Tiệc Metallic Đính Khóa Tròn Kim Loại - CLU 0090 - Màu Xám Khói Đậm"
                                                        class="avatar after owl-lazy">
                                                    <ul class="tem-inside">
                                                        <li class="bottom-right"><img
                                                                src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                                                alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <span class="price sale">
                                                <ins><span class="amount">468.600</span><span
                                                        class="currency">đ</span></ins>
                                                <del><span class="amount">781.000</span><span
                                                        class="currency">đ</span></del>
                                            </span>

                                            <h5 class="product-title"> <a
                                                    href="https://www.vascara.com/vi-du-tiec/vi-du-tiec-metallic-dinh-khoa-tron-kim-loai-clu-0090-mau-xam-khoi-dam">Ví
                                                    Dự Tiệc Metallic Đính Khóa Tròn Kim Loại</a></h5>
                                            <ul class="product-tem">
                                                <li class="percent-discount">-40%</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 295.55px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a
                                                    href="https://www.vascara.com/dep-guoc/guoc-mule-cao-got-phoi-metallic-spool-heel-gnn-0173-mau-den"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/April/30/gnn-0173-blk--1-__63542__1651319469-medium.jpg"
                                                        alt="Xem sản phẩm Guốc Mule Cao Gót Phối Metallic Spool Heel - GNN 0173 - Màu Đen"
                                                        class="avatar before owl-lazy"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/April/30/gnn-0173-blk__63543__1651319483-medium@2x.jpg"
                                                        alt="Xem sản phẩm Guốc Mule Cao Gót Phối Metallic Spool Heel - GNN 0173 - Màu Đen"
                                                        class="avatar after owl-lazy">
                                                    <ul class="tem-inside">
                                                        <li class="bottom-right"><img
                                                                src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                                                alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <span class="price ">
                                                <ins><span class="amount">604.000</span><span
                                                        class="currency">đ</span></ins>
                                            </span>

                                            <h5 class="product-title"> <a
                                                    href="https://www.vascara.com/dep-guoc/guoc-mule-cao-got-phoi-metallic-spool-heel-gnn-0173-mau-den">Guốc
                                                    Mule Cao Gót Phối Metallic Spool Heel</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 295.55px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a
                                                    href="https://www.vascara.com/vi-cam-tay/vi-cam-tay-nhieu-ngan-phoi-nubuck-layer-wal-0224-mau-den"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/February/25/vi-cam-tay-nhieu-ngan-phoi-nubuck-layer-wal-0224-mau-den-main__63143__1645770865-medium.jpg"
                                                        alt="Xem sản phẩm Ví Cầm Tay Nhiều Ngăn Phối Nubuck Layer - WAL 0224 - Màu Đen"
                                                        class="avatar before owl-lazy"><img
                                                        data-src="https://www.vascara.com/uploads/cms_productmedia/2022/February/25/vi-cam-tay-nhieu-ngan-phoi-nubuck-layer-wal-0224-mau-den-3__63144__1645770880-medium@2x.jpg"
                                                        alt="Xem sản phẩm Ví Cầm Tay Nhiều Ngăn Phối Nubuck Layer - WAL 0224 - Màu Đen"
                                                        class="avatar after owl-lazy">
                                                    <ul class="tem-inside">
                                                        <li class="bottom-right"><img
                                                                src="https://www.vascara.com/uploads/banner/2022/June/8/13791654684495.png"
                                                                alt="Vascara thương hiệu thời trang balo, túi xách, giày dép, bóp ví nữ">
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <span class="price ">
                                                <ins><span class="amount">584.000</span><span
                                                        class="currency">đ</span></ins>
                                            </span>

                                            <h5 class="product-title"> <a
                                                    href="https://www.vascara.com/vi-cam-tay/vi-cam-tay-nhieu-ngan-phoi-nubuck-layer-wal-0224-mau-den">Ví
                                                    Cầm Tay Nhiều Ngăn Phối Nubuck Layer</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- <div class="owl-nav">
                            <div class="owl-prev disabled"><img src="/prev.png"></div>
                            <div class="owl-next"><img src="/next.png"></div>
                        </div>
                        <div class="owl-dots">
                            <div class="owl-dot active"><span></span></div>
                            <div class="owl-dot"><span></span></div>
                            <div class="owl-dot"><span></span></div>
                        </div> --}}
                    </div>
                </div>
            </div>
        </div>
        <div class="view mobi"><a href="https://www.vascara.com/best-sale?src=bestsale-homepage" class="view-all">Xem
                tất cả</a></div>
    </div>
</div>