<!-- Banner -->
<div class="banner">

    <div id="carousel" data-ride="carousel" class="carousel slide lazy">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class=""></li>
            <li data-target="#carousel" data-slide-to="1" class="active"></li>
            <li data-target="#carousel" data-slide-to="2" class=""></li>
            <li data-target="#carousel" data-slide-to="3" class=""></li>
            <li data-target="#carousel" data-slide-to="4" class=""></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item">
                <a href="#"><img src="/public/img/banner.jpg" alt="" class="d-block w-100"></a>
            </div>
            <div class="carousel-item active">
                <a href="#"><img src="../../../../public/img/banner1.jpg" alt="" class="d-block w-100"></a>
            </div>

            <div class="carousel-item">
                <a href="#"><img alt="" class="d-block w-100" src="../../../../public/img/banner2.png"></a>
            </div>
            <div class="carousel-item">
                <a href="#"><img alt="" class="d-block w-100" src="../../../../public/img/banner3.png"></a>
            </div>
            <div class="carousel-item">
                <a href="#"><img alt="" class="d-block w-100" src="../../../../public/img/banner4.png"></a>
            </div>
        </div>
        <a href="#carousel" role="button" data-slide="prev" class="carousel-control-prev"><img src="img/icons/prev.png"
                alt=""></a>
        <a href="#carousel" role="button" data-slide="next" class="carousel-control-next"><img src="img/icons/next.png"
                alt=""></a>
    </div>
</div>